### Bikes Dataset

Hier een jupyter notebook bestand waar jullie in kunnen werken. Denk aan het lesmateriaal van afgelopen middag.

# Assignment

Stel je een casus voor. Een fietsenmakerbedrijf heeft moeite met de verkoop van fietsen aan zijn of haar klanten en doet wanhopige pogingen om klanten te lokken bij zijn bedrijf. Er zijn gewoon te veel factoren voor de fietsenmaker om te voorspellen wie je moet bereiken. Hij besluit een datascientist in te huren die in één dag tijd uit zijn data bruikbare informatie probeert te halen.  Dit kan op enkele manieren, namelijk, door (i) inzicht te geven in de relaties tussen attributen in de dataset, (ii) deze relaties te visualiseren, (iii) te laten zien welke attributen (features) van belang zijn voor het voorspellen van een potentiele klant en (iv) hoe goed een model kan voorspellen wie van een nieuwe test-set klanten wel of niet een fiets gaat kopen. 
 
Presenteer je bevindingen en proces in een verslag. Dit mag in een jupyter notebook bestand of in een word-bestand. Je mag bij deze opdracht gebruik maken van WEKA en van PYTHON (en natuurlijk jupyter notebook). Hou de volgende structuur aan in je verslag:  
 
Weka leent zich goed voor om de data te importeren en snel in te zien. Verschillende relaties te herkennen en algoritmes snel op toe te passen.  
 
Python leent zich goed voor het verkennen en aanpassen van de data. Er missen hier en daar waardes die opgevuld dienen te worden.  
 
Beoordeling 
 
Je wordt bij deze opdracht beoordeeld op de volgende criteria:  
 
1. De navolgbaarheid van je proces. Als opdrachtgever wil je het proces kunnen begrijpen van je datascientist. Waarom heeft hij/zij deze en deze keuze gemaakt? Wat voegt het toe aan de wens van de opdrachtgever? 
2. Is de data voldoende geïnterpreteerd en uitgelegd? Leg bijvoorbeeld per attribuut uit of het een (grote) rol speelt voor het voorspellen van het wel of niet kopen van een fiets. Kijk of je een plot kan maken van de data (wij de docenten zullen hier morgen ondersteuning voor geven).  
3. Heb je kunnen voorspellen wie er van de test-set een fiets heeft gekocht of niet. We zullen hier niet streng op zijn sinds het concept hiervan nog vrij lastig is. De voorspelling mag zowel met WEKA als met PYTHON gemaakt worden. Nog beter als je het met beide doet.

# Exploration

First we'll start with importing the csv and looking at the contents of the file

In [388]:
import pandas as pd
bikes = pd.read_csv('bikes.csv')

In [389]:
bikes.info()
bikes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
ID                  1000 non-null int64
Marital Status      1000 non-null object
Gender              1000 non-null object
Income              932 non-null float64
Children            1000 non-null int64
Education           1000 non-null object
Occupation          1000 non-null object
Home Owner          1000 non-null object
Cars                1000 non-null int64
Commute Distance    1000 non-null object
Region              995 non-null object
Age                 989 non-null float64
Purchased Bike      1000 non-null object
dtypes: float64(2), int64(3), object(8)
memory usage: 101.7+ KB

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5,Partial College,Professional,No,2,2-5 Miles,Europe,60.0,No
3,24381,Single,Male,70000.0,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41.0,Yes
4,25597,Single,Male,30000.0,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36.0,Yes ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2,High School,Professional,Yes,2,2-5 Miles,North America,54.0,
996,28672,Single,Male,NaN,4,Graduate Degree,Professional,Yes,0,2-5 Miles,North America,35.0,
997,11809,Married,Male,60000.0,2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,North America,38.0,
998,19664,Single,Male,100000.0,3,Bachelors,Management,No,3,1-2 Miles,North America,38.0,
999,12121,Single,Male,60000.0,3,High School,Professional,Yes,2,10+ Miles,North America,53.0,

We can see the contents of the file, columns and the datatype of the columns

In [390]:
bikes.info()
bikes
bikes.keys()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
ID                  1000 non-null int64
Marital Status      1000 non-null object
Gender              1000 non-null object
Income              932 non-null float64
Children            1000 non-null int64
Education           1000 non-null object
Occupation          1000 non-null object
Home Owner          1000 non-null object
Cars                1000 non-null int64
Commute Distance    1000 non-null object
Region              995 non-null object
Age                 989 non-null float64
Purchased Bike      1000 non-null object
dtypes: float64(2), int64(3), object(8)
memory usage: 101.7+ KB

Index(['ID', 'Marital Status', 'Gender', 'Income', 'Children', 'Education',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Purchased Bike '],
      dtype='object')

Info shows us that many of the fields are Objects and that we've got missing values. Here we also encounter our first pitfall : bikes gives us the entire contents and we can see "empty" fields in the column Purchased Bikes. .Info() however , tells us that 1000/1000 of the fields are filled with values. These emtpy field therefore aren't empty.
Keys gives us the Second pitfall : the column Purchased Bike has an extra space in the name

# Datacleaning

First we'll start with the cleaning of our data, we'll do this column by column

## ID
Is there anything in ID we can work with? Sort should give us a first indication

In [391]:
bikes.sort_values(by=['ID'])

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
306,11000,Married,Male,90000.0,2,Bachelors,Professional,Yes,0,1-2 Miles,Pacific,40.0,Yes
186,11047,Married,Female,30000.0,3,High School,Skilled Manual,No,2,1-2 Miles,Pacific,56.0,Yes
441,11061,Married,Male,80000.0,2,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,52.0,Yes
924,11090,Single,Male,90000.0,2,Partial College,Professional,Yes,1,2-5 Miles,North America,48.0,
411,11116,Married,Male,70000.0,5,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,43.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,29337,Single,Male,30000.0,2,Partial College,Clerical,Yes,2,5-10 Miles,Pacific,68.0,No
66,29355,Married,Female,40000.0,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,37.0,Yes
44,29380,Married,Female,20000.0,3,High School,Manual,Yes,0,0-1 Miles,Europe,41.0,Yes
337,29424,Married,Male,10000.0,0,Partial High School,Manual,Yes,2,0-1 Miles,Europe,32.0,No
435,29447,Single,Female,NaN,2,Bachelors,Clerical,No,1,2-5 Miles,Europe,68.0,No ...

The ID values don't start with 1 and aren't all used. How about uniqueness?

In [392]:
bikes.nunique()

ID                  1000
Marital Status         2
Gender                 2
Income                16
Children               6
Education              5
Occupation             5
Home Owner             2
Cars                   5
Commute Distance       5
Region                 3
Age                   53
Purchased Bike        79
dtype: int64

all of the IDs are unique and so might be of low value to us , atleast for our training purposes. We can mark this as "Might be dropped"

## Marital Status + Gender
nunique gave us only 2 Marital Statusses and Genders , we can directly recode this with the labelencoder in sklearn.preprocessing

In [393]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
bikes['Marital_Status_RC'] = le.fit_transform(bikes['Marital Status'])
bikes['Gender_RC'] = le.fit_transform(bikes['Gender'])
bikes

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike,Marital_Status_RC,Gender_RC
0,12496,Married,Female,40000.0,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42.0,No,0,0
1,24107,Married,Male,30000.0,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43.0,No,0,1
2,14177,Married,Male,80000.0,5,Partial College,Professional,No,2,2-5 Miles,Europe,60.0,No,0,1
3,24381,Single,Male,70000.0,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41.0,Yes,1,1
4,25597,Single,Male,30000.0,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36.0,Yes ...,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2,High School,Professional,Yes,2,2-5 Miles,North America,54.0,,0,1
996,28672,Single,Male,NaN,4,Graduate Degree,Professional,Yes,0,2-5 Miles,North America,35.0,,1,1
997,11809,Married,Male,60000.0,2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,North America,38.0,,0,1
998,19664,Single,Male,100000.0,3,Bachelors,Management,No,3,1-2 Miles,North America,38.0,,1,1
999,12121,Single,Male,60000.0,3,High School,Professional,Yes,2,10+ Miles,North America,53.0,,1,1

We can now see that in Martital Status, Married has been recoded to 0 , as is Female in Gender

## Income
Income is the first column that has missing values, but we'll return to those after the cleaning part
First lets see the unique entries to see if we need to clean anything

In [394]:
bikes.Income.unique()

array([ 40000.,  30000.,  80000.,  70000.,  10000., 160000.,  20000.,
        90000., 170000.,  60000.,     nan, 100000., 130000., 120000.,
        50000., 110000., 150000.])

We can see that every value is marked as a float but can as easily be marked as an Int.

Some digging showed me the reason for the float; NaN is a type of float and I'm not allowed to recast it without first replacing the NaNs (bikes['Income_int'] =bikes['Income'].astype('int64'))

## Children
lets see if Children has any weird values or missing values

In [395]:
bikes.Children.unique()

array([1, 3, 5, 0, 2, 4])

everything seems to be in order , no action needed for now

## Education
lets see if Education has any weird values or missing values

In [396]:
bikes.Education.unique()

array(['Bachelors', 'Partial College', 'High School',
       'Partial High School', 'Graduate Degree'], dtype=object)

everything seems to be in order , but we can't use these values. Time to re-encode them

In [397]:
bikes['Education_RC'] = le.fit_transform(bikes['Education'])

With a lot of unique values , we're starting to lose oversight in the used codes for the catogories , time to switch to a more manual approach for these.

In [398]:
#First let's drop the recoded Education
bikes.drop(columns=['Education_RC'],axis=1)

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike,Marital_Status_RC,Gender_RC
0,12496,Married,Female,40000.0,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42.0,No,0,0
1,24107,Married,Male,30000.0,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43.0,No,0,1
2,14177,Married,Male,80000.0,5,Partial College,Professional,No,2,2-5 Miles,Europe,60.0,No,0,1
3,24381,Single,Male,70000.0,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41.0,Yes,1,1
4,25597,Single,Male,30000.0,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36.0,Yes ...,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2,High School,Professional,Yes,2,2-5 Miles,North America,54.0,,0,1
996,28672,Single,Male,NaN,4,Graduate Degree,Professional,Yes,0,2-5 Miles,North America,35.0,,1,1
997,11809,Married,Male,60000.0,2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,North America,38.0,,0,1
998,19664,Single,Male,100000.0,3,Bachelors,Management,No,3,1-2 Miles,North America,38.0,,1,1
999,12121,Single,Male,60000.0,3,High School,Professional,Yes,2,10+ Miles,North America,53.0,,1,1

In [399]:
#Recreate manually
bikes['Education_RC'] = bikes['Education'].map( {'Bachelors': 0, 'Partial College': 1, 'High School': 2, 'Partial High School': 3, 'Graduate Degree': 4} ).astype(int)

## Occupation
lets see if Occupation has any weird values or missing values

In [400]:
bikes.Occupation.unique()

array(['Skilled Manual', 'Clerical', 'Professional', 'Manual',
       'Management'], dtype=object)

everything seems to be in order , but we can't use these values. Time to re-encode them

In [401]:
bikes['Occupation_RC'] = bikes['Occupation'].map( {'Skilled Manual': 0, 'Clerical': 1, 'Professional': 2, 'Manual': 3, 'Management': 4} ).astype(int)

## Home Owner
We've already seen that Home Owner only has 2 values ; yes and no.We can't use these values so time to re-encode them

In [402]:
bikes['Home_Owner_RC'] = bikes['Home Owner'].map( {'No': 0, 'Yes': 1} ).astype(int)

## Cars
Cars already is an int and has 1000 values but let's check the uniques to be sure

In [403]:
bikes.Cars.unique()

array([0, 1, 2, 4, 3])

Everyhing seems to be in order and because it's an int already , no need to reencode.

## Commute Distance
is an object filled with 1000 values but it's a mix between letters and numbers.
let's see the uniques

In [404]:
bikes['Commute Distance'].unique()

array(['0-1 Miles', '2-5 Miles', '5-10 Miles', '1-2 Miles', '10+ Miles'],
      dtype=object)

The uniques are clear but we'll need to reform the values. we'll removes all the miles and use the max distance instead of the spread. Using 11 for 10+

In [405]:
#First remove all the non-digits
bikes['Commute_Distance_RC'] = bikes['Commute Distance'].str.replace(r'\D', '').astype(int)

In [406]:
#recode
bikes['Commute_Distance_RC'] = bikes['Commute_Distance_RC'].map( {1:1, 25: 5,10: 11, 510: 10, 12: 2}  )
#1 still has to be mapped, otherwise it seems to be replaced with NaN

## Region
Region has 5 missing values to start with , lets see the rest

In [407]:
bikes.Region.unique()

array(['Europe', 'Pacific', nan, 'North America'], dtype=object)

we'll need to recode. to make them usefull but first we'll need to replace the NaN and remember to "fix" it later

## Age 
Income is the third column that has missing values, but we'll return to those after the cleaning part. First lets see the unique entries to see if we need to clean anything

No cleaning needed

## Purchased Bike
The first small fix is fixing the title and removing the extra space :

In [408]:
bikes['Purchased Bike'] = bikes['Purchased Bike ']

We know that the 1000 values were filled in but we're also told that our extra set in contained within. lets see the uniques

In [409]:
bikes['Purchased Bike'].unique()

array(['No                                       ',
       'No                                         ',
       'No                                      ',
       'Yes                                         ',
       'Yes                                                ',
       'Yes                                        ',
       'No                                   ',
       'Yes                                          ',
       'Yes                                    ',
       'No                                          ',
       'No                                    ',
       'Yes                                   ',
       'Yes                                             ',
       'No                                             ',
       'Yes                                      ',
       'Yes                                              ',
       'No                                              ',
       'No                                                ',
       'No                                        ',
       'No                                 ',
       'Yes                                            ',
       'No                                                 ',
       'Yes                                     ',
       'Yes                                 ',
       'Yes                              ',
       'No                                            ',
       'Yes                                                    ',
       'No                                                    ',
       'No                                                   ',
       'Yes                                           ',
       'No                                           ',
       'Yes                                               ',
       'No                                     ',
       'No                                  ',
       'Yes                                                 ',
       'No                                               ',
       'No                                                     ',
       'Yes                                ',
       'Yes                                       ',
       'Yes                               ',
       'No                                                  ',
       'Yes                                  ',
       'No                                ',
       'No                               ',
       'No                             ',
       'Yes                             ',
       'Yes                                                      ',
       'No                       ', 'No                              ',
       'Yes                            ',
       'Yes                           ', 'No                          ',
       'No                           ', 'Yes                         ',
       'Yes                          ', 'No                            ',
       'No                        ', 'Yes                       ',
       'Yes                      ', 'No                         ',
       'No                      ', '                                   ',
       '                                 ',
       '                                ',
       '                               ',
       '                                       ',
       '                                  ',
       '                              ', '                             ',
       '                                         ',
       '                                     ',
       '                                    ',
       '                                      ',
       '                          ', '                           ',
       '                            ',
       '                                          ',
       '                                        ',
       '                                           '], dtype=object)

A lot of extra empty spaces, let's remove these first

In [410]:
bikes['Purchased Bike' ]= bikes['Purchased Bike'].str.strip()

In [411]:
bikes['Purchased Bike'].unique()

array(['No', 'Yes', ''], dtype=object)

we know that the left over empty spaces are the testset that we have to split off but the spaces aren't truelly empty. lets replace those white spaces with NaN values :

In [412]:
import numpy as np
bikes = bikes.replace(r'^\s*$', np.nan, regex=True)

In [413]:
bikes['Purchased Bike'].unique()

array(['No', 'Yes', nan], dtype=object)

# Split

In [414]:
complete_RC = bikes.drop(['ID','Marital Status','Gender','Education','Occupation','Home Owner','Commute Distance','Purchased Bike ' ], axis =1)
complete_RC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Income                 932 non-null float64
Children               1000 non-null int64
Cars                   1000 non-null int64
Region                 995 non-null object
Age                    989 non-null float64
Marital_Status_RC      1000 non-null int64
Gender_RC              1000 non-null int64
Education_RC           1000 non-null int64
Occupation_RC          1000 non-null int64
Home_Owner_RC          1000 non-null int64
Commute_Distance_RC    1000 non-null int64
Purchased Bike         808 non-null object
dtypes: float64(2), int64(8), object(2)
memory usage: 93.9+ KB

In [415]:
complete_RC_isnull = complete_RC[complete_RC['Purchased Bike'].isnull()]
complete_RC_notnull = complete_RC[complete_RC['Purchased Bike'].notnull()]

# Fill missing data

We know that Income , Region and Age have missing values. Let's see if we can fill these

# Region

- Split the null and not null values 
- recode Region
- recode used variables (Income,Age,Education,Occupation and Gender)

In [416]:
set_region_notnull = complete_RC_notnull[complete_RC_notnull['Region'].notnull()]
set_region_null = complete_RC_notnull[complete_RC_notnull['Region'].isnull()]
print(len(set_region_notnull),len(set_region_null))

803 5

In [417]:
from sklearn.model_selection import train_test_split
trainingSet, testSet = train_test_split(set_region_notnull, test_size=0.2)
print(len(trainingSet),len(testSet))
trainingSet['Region_RC'] = le.fit_transform(trainingSet['Region'])
trainingSet['Income_RC'] = le.fit_transform(trainingSet['Income'])
trainingSet['Age_RC'] = le.fit_transform(trainingSet['Age'])
testSet['Region_RC'] = le.fit_transform(testSet['Region'])
testSet['Income_RC'] = le.fit_transform(testSet['Income'])
testSet['Age_RC'] = le.fit_transform(testSet['Age'])
set_region_null['Region_RC'] = le.fit_transform(set_region_null['Region'])
set_region_null['Income_RC'] = le.fit_transform(set_region_null['Income'])
set_region_null['Age_RC'] = le.fit_transform(set_region_null['Age'])

642 161

/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [418]:
features=list(zip(trainingSet['Income_RC'],trainingSet['Age_RC'],trainingSet['Occupation_RC'],trainingSet['Education_RC'],trainingSet['Gender_RC']))

In [419]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
model = KNeighborsClassifier(n_neighbors=3) #3 has the highest accuracy , determined by the next code block
model.fit(features,trainingSet['Region_RC'])
predicted = []
for i in range(len(testSet)):
    income = testSet.iloc[i].Income_RC
    age = testSet.iloc[i].Age_RC
    occupation = testSet.iloc[i].Occupation_RC
    education = testSet.iloc[i].Education_RC
    gender = testSet.iloc[i].Gender_RC
    predicted.__iadd__(model.predict([[income,age,occupation,education,gender]])) # 0:Europe, 1:NA,2:Pacific
print("Accuracy:",metrics.accuracy_score(testSet.Region_RC, predicted))

Accuracy: 0.8074534161490683

In [420]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
score = []
for x in range(161):
    model = KNeighborsClassifier(n_neighbors=x+1)
    model.fit(features,trainingSet['Region_RC'])
    predicted = []

    for i in range(len(testSet)):
        income = testSet.iloc[i].Income_RC
        age = testSet.iloc[i].Age_RC
        occupation = testSet.iloc[i].Occupation_RC
        education = testSet.iloc[i].Education_RC
        gender = testSet.iloc[i].Gender_RC
        predicted.__iadd__(model.predict([[income,age,occupation,education,gender]])) # 0:Europe, 1:NA,2:Pacific
    print("Accuracy:",x+1,metrics.accuracy_score(testSet.Region_RC, predicted))

Accuracy: 1 0.8074534161490683
Accuracy: 2 0.8322981366459627
Accuracy: 3 0.8074534161490683
Accuracy: 4 0.8012422360248447
Accuracy: 5 0.7888198757763976
Accuracy: 6 0.8012422360248447
Accuracy: 7 0.7763975155279503
Accuracy: 8 0.782608695652174
Accuracy: 9 0.782608695652174
Accuracy: 10 0.7763975155279503
Accuracy: 11 0.7701863354037267
Accuracy: 12 0.7763975155279503
Accuracy: 13 0.7701863354037267
Accuracy: 14 0.7701863354037267
Accuracy: 15 0.7763975155279503
Accuracy: 16 0.7453416149068323
Accuracy: 17 0.7515527950310559
Accuracy: 18 0.7391304347826086
Accuracy: 19 0.7267080745341615
Accuracy: 20 0.7204968944099379
Accuracy: 21 0.7204968944099379
Accuracy: 22 0.7267080745341615
Accuracy: 23 0.7142857142857143
Accuracy: 24 0.6956521739130435
Accuracy: 25 0.6708074534161491
Accuracy: 26 0.6645962732919255
Accuracy: 27 0.6459627329192547
Accuracy: 28 0.6583850931677019
Accuracy: 29 0.639751552795031
Accuracy: 30 0.6335403726708074
Accuracy: 31 0.6335403726708074
Accuracy: 32 0.639751552795031
Accuracy: 33 0.6459627329192547
Accuracy: 34 0.639751552795031
Accuracy: 35 0.639751552795031
Accuracy: 36 0.6459627329192547
Accuracy: 37 0.639751552795031
Accuracy: 38 0.6521739130434783
Accuracy: 39 0.6583850931677019
Accuracy: 40 0.6459627329192547
Accuracy: 41 0.6521739130434783
Accuracy: 42 0.6521739130434783
Accuracy: 43 0.6459627329192547
Accuracy: 44 0.6459627329192547
Accuracy: 45 0.6335403726708074
Accuracy: 46 0.6459627329192547
Accuracy: 47 0.6273291925465838
Accuracy: 48 0.6335403726708074
Accuracy: 49 0.6335403726708074
Accuracy: 50 0.6335403726708074
Accuracy: 51 0.6211180124223602
Accuracy: 52 0.6211180124223602
Accuracy: 53 0.6086956521739131
Accuracy: 54 0.6149068322981367
Accuracy: 55 0.6149068322981367
Accuracy: 56 0.5962732919254659
Accuracy: 57 0.6086956521739131
Accuracy: 58 0.5900621118012422
Accuracy: 59 0.6024844720496895
Accuracy: 60 0.6024844720496895
Accuracy: 61 0.6149068322981367
Accuracy: 62 0.6086956521739131
Accuracy: 63 0.6086956521739131
Accuracy: 64 0.6149068322981367
Accuracy: 65 0.6149068322981367
Accuracy: 66 0.6149068322981367
Accuracy: 67 0.6211180124223602
Accuracy: 68 0.6086956521739131
Accuracy: 69 0.6149068322981367
Accuracy: 70 0.6024844720496895
Accuracy: 71 0.5962732919254659
Accuracy: 72 0.5962732919254659
Accuracy: 73 0.6149068322981367
Accuracy: 74 0.6149068322981367
Accuracy: 75 0.6149068322981367
Accuracy: 76 0.6086956521739131
Accuracy: 77 0.6149068322981367
Accuracy: 78 0.6086956521739131
Accuracy: 79 0.6086956521739131
Accuracy: 80 0.6149068322981367
Accuracy: 81 0.6149068322981367
Accuracy: 82 0.5962732919254659
Accuracy: 83 0.6149068322981367
Accuracy: 84 0.6086956521739131
Accuracy: 85 0.6211180124223602
Accuracy: 86 0.6149068322981367
Accuracy: 87 0.6211180124223602
Accuracy: 88 0.6149068322981367
Accuracy: 89 0.6211180124223602
Accuracy: 90 0.6211180124223602
Accuracy: 91 0.6149068322981367
Accuracy: 92 0.6149068322981367
Accuracy: 93 0.6086956521739131
Accuracy: 94 0.6024844720496895
Accuracy: 95 0.6086956521739131
Accuracy: 96 0.5900621118012422
Accuracy: 97 0.6024844720496895
Accuracy: 98 0.6086956521739131
Accuracy: 99 0.6211180124223602
Accuracy: 100 0.6211180124223602
Accuracy: 101 0.5962732919254659
Accuracy: 102 0.5900621118012422
Accuracy: 103 0.5900621118012422
Accuracy: 104 0.6024844720496895
Accuracy: 105 0.5900621118012422
Accuracy: 106 0.5962732919254659
Accuracy: 107 0.5962732919254659
Accuracy: 108 0.5962732919254659
Accuracy: 109 0.6024844720496895
Accuracy: 110 0.5962732919254659
Accuracy: 111 0.5900621118012422
Accuracy: 112 0.5838509316770186
Accuracy: 113 0.5714285714285714
Accuracy: 114 0.577639751552795
Accuracy: 115 0.5652173913043478
Accuracy: 116 0.546583850931677
Accuracy: 117 0.5527950310559007
Accuracy: 118 0.5652173913043478
Accuracy: 119 0.5590062111801242
Accuracy: 120 0.5590062111801242
Accuracy: 121 0.5590062111801242
Accuracy: 122 0.546583850931677
Accuracy: 123 0.5403726708074534
Accuracy: 124 0.5341614906832298
Accuracy: 125 0.5403726708074534
Accuracy: 126 0.5403726708074534
Accuracy: 127 0.5527950310559007
Accuracy: 128 0.5341614906832298
Accuracy: 129 0.5403726708074534
Accuracy: 130 0.546583850931677
Accuracy: 131 0.5341614906832298
Accuracy: 132 0.5341614906832298
Accuracy: 133 0.5341614906832298
Accuracy: 134 0.5403726708074534
Accuracy: 135 0.5341614906832298
Accuracy: 136 0.5403726708074534
Accuracy: 137 0.5403726708074534
Accuracy: 138 0.5341614906832298
Accuracy: 139 0.5279503105590062
Accuracy: 140 0.5279503105590062
Accuracy: 141 0.5279503105590062
Accuracy: 142 0.5217391304347826
Accuracy: 143 0.515527950310559
Accuracy: 144 0.515527950310559
Accuracy: 145 0.5217391304347826
Accuracy: 146 0.5217391304347826
Accuracy: 147 0.5093167701863354
Accuracy: 148 0.5093167701863354
Accuracy: 149 0.515527950310559
Accuracy: 150 0.5093167701863354
Accuracy: 151 0.5093167701863354
Accuracy: 152 0.5093167701863354
Accuracy: 153 0.5093167701863354
Accuracy: 154 0.5093167701863354
Accuracy: 155 0.515527950310559
Accuracy: 156 0.515527950310559
Accuracy: 157 0.515527950310559
Accuracy: 158 0.5093167701863354
Accuracy: 159 0.5093167701863354
Accuracy: 160 0.5093167701863354
Accuracy: 161 0.515527950310559

In [421]:
testSet

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike,Region_RC,Income_RC,Age_RC
606,40000.0,2,0,North America,36.0,1,1,0,0,1,5,No,1,3,11
86,130000.0,3,3,Europe,51.0,1,1,1,2,0,1,Yes,0,11,26
119,30000.0,0,1,Europe,29.0,1,0,1,1,0,5,No,0,2,4
367,130000.0,3,3,Europe,50.0,0,0,1,2,1,10,Yes,0,11,25
640,60000.0,2,2,North America,56.0,0,0,1,2,1,5,Yes,1,5,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,70000.0,3,2,North America,52.0,1,0,4,4,1,2,No,1,6,27
201,10000.0,1,0,Pacific,27.0,0,1,2,3,1,5,Yes,2,0,2
143,80000.0,0,3,Pacific,32.0,0,0,0,2,1,11,No,2,7,7
91,30000.0,0,1,Europe,30.0,1,1,1,1,0,1,Yes,0,2,5
759,60000.0,3,0,North America,43.0,1,0,4,2,1,5,Yes,1,5,18

## Further testing
what happens if we add more columns to the fit?

In [422]:
features=list(zip(trainingSet['Income_RC'],trainingSet['Age_RC'],trainingSet['Occupation_RC'],trainingSet['Education_RC'],trainingSet['Gender_RC'],trainingSet['Children'],trainingSet['Cars'],trainingSet['Marital_Status_RC'],trainingSet['Home_Owner_RC'],trainingSet['Commute_Distance_RC']))

In [423]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
model = KNeighborsClassifier(n_neighbors=2) #2 has the highest accuracy , determined by the next code block
model.fit(features,trainingSet['Region_RC'])
predicted = []
for i in range(len(testSet)):
    income = testSet.iloc[i].Income_RC
    age = testSet.iloc[i].Age_RC
    occupation = testSet.iloc[i].Occupation_RC
    education = testSet.iloc[i].Education_RC
    gender = testSet.iloc[i].Gender_RC
    children = testSet.iloc[i].Children
    cars = testSet.iloc[i].Cars
    MS = testSet.iloc[i].Marital_Status_RC
    home = testSet.iloc[i].Home_Owner_RC
    CD = testSet.iloc[i].Commute_Distance_RC
    predicted.__iadd__(model.predict([[income,age,occupation,education,gender,children,cars,MS,home,CD]])) # 0:Europe, 1:NA,2:Pacific
print("Accuracy:",metrics.accuracy_score(testSet.Region_RC, predicted))

Accuracy: 0.84472049689441

In [424]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
score = []
for x in range(161):
    model = KNeighborsClassifier(n_neighbors=x+1)
    model.fit(features,trainingSet['Region_RC'])
    predicted = []

    for i in range(len(testSet)):
        income = testSet.iloc[i].Income_RC
        age = testSet.iloc[i].Age_RC
        occupation = testSet.iloc[i].Occupation_RC
        education = testSet.iloc[i].Education_RC
        gender = testSet.iloc[i].Gender_RC
        children = testSet.iloc[i].Children
        cars = testSet.iloc[i].Cars
        MS = testSet.iloc[i].Marital_Status_RC
        home = testSet.iloc[i].Home_Owner_RC
        CD = testSet.iloc[i].Commute_Distance_RC
        predicted.__iadd__(model.predict([[income,age,occupation,education,gender,children,cars,MS,home,CD]])) # 0:Europe, 1:NA,2:Pacific
    print("Accuracy:",x+1,metrics.accuracy_score(testSet.Region_RC, predicted))

Accuracy: 1 0.8757763975155279
Accuracy: 2 0.84472049689441
Accuracy: 3 0.8260869565217391
Accuracy: 4 0.8012422360248447
Accuracy: 5 0.7950310559006211
Accuracy: 6 0.8074534161490683
Accuracy: 7 0.782608695652174
Accuracy: 8 0.7950310559006211
Accuracy: 9 0.8260869565217391
Accuracy: 10 0.782608695652174
Accuracy: 11 0.8012422360248447
Accuracy: 12 0.8198757763975155
Accuracy: 13 0.8198757763975155
Accuracy: 14 0.8074534161490683
Accuracy: 15 0.8136645962732919
Accuracy: 16 0.8136645962732919
Accuracy: 17 0.7950310559006211
Accuracy: 18 0.8012422360248447
Accuracy: 19 0.7888198757763976
Accuracy: 20 0.782608695652174
Accuracy: 21 0.7888198757763976
Accuracy: 22 0.7888198757763976
Accuracy: 23 0.7888198757763976
Accuracy: 24 0.7453416149068323
Accuracy: 25 0.7515527950310559
Accuracy: 26 0.7142857142857143
Accuracy: 27 0.7204968944099379
Accuracy: 28 0.6956521739130435
Accuracy: 29 0.6832298136645962
Accuracy: 30 0.6832298136645962
Accuracy: 31 0.6956521739130435
Accuracy: 32 0.7018633540372671
Accuracy: 33 0.6894409937888198
Accuracy: 34 0.6894409937888198
Accuracy: 35 0.7080745341614907
Accuracy: 36 0.7080745341614907
Accuracy: 37 0.7018633540372671
Accuracy: 38 0.6956521739130435
Accuracy: 39 0.7018633540372671
Accuracy: 40 0.6832298136645962
Accuracy: 41 0.6708074534161491
Accuracy: 42 0.6521739130434783
Accuracy: 43 0.6521739130434783
Accuracy: 44 0.6459627329192547
Accuracy: 45 0.6459627329192547
Accuracy: 46 0.6459627329192547
Accuracy: 47 0.6583850931677019
Accuracy: 48 0.639751552795031
Accuracy: 49 0.6459627329192547
Accuracy: 50 0.6459627329192547
Accuracy: 51 0.6521739130434783
Accuracy: 52 0.6583850931677019
Accuracy: 53 0.6583850931677019
Accuracy: 54 0.6583850931677019
Accuracy: 55 0.6521739130434783
Accuracy: 56 0.6521739130434783
Accuracy: 57 0.6645962732919255
Accuracy: 58 0.6459627329192547
Accuracy: 59 0.6645962732919255
Accuracy: 60 0.6645962732919255
Accuracy: 61 0.6583850931677019
Accuracy: 62 0.6583850931677019
Accuracy: 63 0.6583850931677019
Accuracy: 64 0.6583850931677019
Accuracy: 65 0.6583850931677019
Accuracy: 66 0.6521739130434783
Accuracy: 67 0.6521739130434783
Accuracy: 68 0.6459627329192547
Accuracy: 69 0.639751552795031
Accuracy: 70 0.6335403726708074
Accuracy: 71 0.639751552795031
Accuracy: 72 0.639751552795031
Accuracy: 73 0.639751552795031
Accuracy: 74 0.639751552795031
Accuracy: 75 0.6335403726708074
Accuracy: 76 0.639751552795031
Accuracy: 77 0.6273291925465838
Accuracy: 78 0.6211180124223602
Accuracy: 79 0.6273291925465838
Accuracy: 80 0.6211180124223602
Accuracy: 81 0.6149068322981367
Accuracy: 82 0.6149068322981367
Accuracy: 83 0.6149068322981367
Accuracy: 84 0.6149068322981367
Accuracy: 85 0.6086956521739131
Accuracy: 86 0.6086956521739131
Accuracy: 87 0.6024844720496895
Accuracy: 88 0.6086956521739131
Accuracy: 89 0.6024844720496895
Accuracy: 90 0.5962732919254659
Accuracy: 91 0.5900621118012422
Accuracy: 92 0.5900621118012422
Accuracy: 93 0.5962732919254659
Accuracy: 94 0.5838509316770186
Accuracy: 95 0.5900621118012422
Accuracy: 96 0.5962732919254659
Accuracy: 97 0.5962732919254659
Accuracy: 98 0.5962732919254659
Accuracy: 99 0.5962732919254659
Accuracy: 100 0.5962732919254659
Accuracy: 101 0.5962732919254659
Accuracy: 102 0.5962732919254659
Accuracy: 103 0.6024844720496895
Accuracy: 104 0.5900621118012422
Accuracy: 105 0.5900621118012422
Accuracy: 106 0.5900621118012422
Accuracy: 107 0.5900621118012422
Accuracy: 108 0.577639751552795
Accuracy: 109 0.577639751552795
Accuracy: 110 0.577639751552795
Accuracy: 111 0.5714285714285714
Accuracy: 112 0.5652173913043478
Accuracy: 113 0.577639751552795
Accuracy: 114 0.5838509316770186
Accuracy: 115 0.5714285714285714
Accuracy: 116 0.5652173913043478
Accuracy: 117 0.5652173913043478
Accuracy: 118 0.5652173913043478
Accuracy: 119 0.5652173913043478
Accuracy: 120 0.5652173913043478
Accuracy: 121 0.5590062111801242
Accuracy: 122 0.5527950310559007
Accuracy: 123 0.5527950310559007
Accuracy: 124 0.546583850931677
Accuracy: 125 0.546583850931677
Accuracy: 126 0.5403726708074534
Accuracy: 127 0.546583850931677
Accuracy: 128 0.5403726708074534
Accuracy: 129 0.546583850931677
Accuracy: 130 0.546583850931677
Accuracy: 131 0.546583850931677
Accuracy: 132 0.546583850931677
Accuracy: 133 0.546583850931677
Accuracy: 134 0.5403726708074534
Accuracy: 135 0.5403726708074534
Accuracy: 136 0.5403726708074534
Accuracy: 137 0.546583850931677
Accuracy: 138 0.5403726708074534
Accuracy: 139 0.5403726708074534
Accuracy: 140 0.546583850931677
Accuracy: 141 0.5527950310559007
Accuracy: 142 0.546583850931677
Accuracy: 143 0.5403726708074534
Accuracy: 144 0.5341614906832298
Accuracy: 145 0.5403726708074534
Accuracy: 146 0.5341614906832298
Accuracy: 147 0.5341614906832298
Accuracy: 148 0.5403726708074534
Accuracy: 149 0.5341614906832298
Accuracy: 150 0.5341614906832298
Accuracy: 151 0.5279503105590062
Accuracy: 152 0.546583850931677
Accuracy: 153 0.5341614906832298
Accuracy: 154 0.5403726708074534
Accuracy: 155 0.515527950310559
Accuracy: 156 0.546583850931677
Accuracy: 157 0.546583850931677
Accuracy: 158 0.5527950310559007
Accuracy: 159 0.546583850931677
Accuracy: 160 0.5527950310559007
Accuracy: 161 0.5527950310559007

adding all categories seems to add a bit of accuracy to ~86%

In [425]:
#Filling the missing values
set_region_null

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike,Region_RC,Income_RC,Age_RC
56,40000.0,0,0,NaN,38.0,0,1,0,1,1,1,Yes,0,1,2
70,120000.0,0,4,NaN,36.0,0,1,3,2,1,11,Yes,0,2,1
280,10000.0,3,2,NaN,43.0,1,0,3,3,1,1,No,0,0,3
424,NaN,3,2,NaN,43.0,1,0,3,3,1,1,No,0,3,3
604,40000.0,0,2,NaN,27.0,0,1,2,0,1,10,No,0,1,0

In [426]:
#complete_RC_notnull['Region_RC'] = complete_RC_notnull['Region'].map( {'Europe': 0, 'Pacific': 1,'North America':2,'Unknown':99} ).astype(int)

In [427]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
predicted = []
model = KNeighborsClassifier(n_neighbors=2) #2 has the highest accuracy , determined by the next code block
model.fit(features,trainingSet['Region_RC'])
for i in range(len(set_region_null)):
    print("i",i)
    print("range",range(len(set_region_null)))
    income = set_region_null.iloc[i].Income_RC
    age = set_region_null.iloc[i].Age_RC
    occupation = set_region_null.iloc[i].Occupation_RC
    education = set_region_null.iloc[i].Education_RC
    gender = set_region_null.iloc[i].Gender_RC
    children = set_region_null.iloc[i].Children
    cars = set_region_null.iloc[i].Cars
    MS = set_region_null.iloc[i].Marital_Status_RC
    home = set_region_null.iloc[i].Home_Owner_RC
    CD = set_region_null.iloc[i].Commute_Distance_RC
    predicted.__iadd__(model.predict([[income,age,occupation,education,gender,children,cars,MS,home,CD]])) # 0:Europe, 1:NA,2:Pacific
    #bikes.at[bikes[bikes['Region_RC'] == 99].index[0],'Region_RC'] = mode_region
    print('pred loc',predicted[i])
    print("predicted",predicted)
    #set_region_null.at.index[i],'Region_RC' = predicted[i]
    set_region_null.at[[set_region_null.index[i]],'Region_RC']= predicted[i] # 0:Europe, 1:NA,2:Pacific

i 0
range range(0, 5)
pred loc 2
predicted [2]
i 1
range range(0, 5)
pred loc 1
predicted [2, 1]
i 2
range range(0, 5)
pred loc 0
predicted [2, 1, 0]
i 3
range range(0, 5)
pred loc 0
predicted [2, 1, 0, 0]
i 4
range range(0, 5)
pred loc 1
predicted [2, 1, 0, 0, 1]

/home/mike/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/home/mike/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/home/mike/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/home/mike/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/home/mike/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [428]:
#after
#set_region_nullset_region_null['Region_RC'] = le.fit_transform(set_region_null['Region'])

In [429]:
complete_RC['Region'].fillna('Unknown', inplace = True) 
complete_RC['Region_RC'] = complete_RC['Region'].map( {'Europe': 0, 'Pacific': 1,'North America':2,'Unknown':99} ).astype(int)

In [430]:
complete_RC[complete_RC['Region_RC']==99]

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike,Region_RC
56,40000.0,0,0,Unknown,38.0,0,1,0,1,1,1,Yes,99
70,120000.0,0,4,Unknown,36.0,0,1,3,2,1,11,Yes,99
280,10000.0,3,2,Unknown,43.0,1,0,3,3,1,1,No,99
424,NaN,3,2,Unknown,43.0,1,0,3,3,1,1,No,99
604,40000.0,0,2,Unknown,27.0,0,1,2,0,1,10,No,99

In [431]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
predicted = []
model = KNeighborsClassifier(n_neighbors=2) #2 has the highest accuracy , determined by the next code block
model.fit(features,trainingSet['Region_RC'])
for i in range(len(set_region_null)):
    print("i",i)
    print("range",range(len(set_region_null)))
    income = set_region_null.iloc[i].Income_RC
    age = set_region_null.iloc[i].Age_RC
    occupation = set_region_null.iloc[i].Occupation_RC
    education = set_region_null.iloc[i].Education_RC
    gender = set_region_null.iloc[i].Gender_RC
    children = set_region_null.iloc[i].Children
    cars = set_region_null.iloc[i].Cars
    MS = set_region_null.iloc[i].Marital_Status_RC
    home = set_region_null.iloc[i].Home_Owner_RC
    CD = set_region_null.iloc[i].Commute_Distance_RC
    predicted.__iadd__(model.predict([[income,age,occupation,education,gender,children,cars,MS,home,CD]])) # 0:Europe, 1:NA,2:Pacific
    #bikes.at[bikes[bikes['Region_RC'] == 99].index[0],'Region_RC'] = mode_region
    print('pred loc',predicted[i])
    print("predicted",predicted)
    #set_region_null.at.index[i],'Region_RC' = predicted[i]

for i in range(len(predicted)):
    print("i",i)
    complete_RC.at[complete_RC[complete_RC['Region_RC']==99].index[0],'Region_RC']= predicted[i] # 0:Europe, 1:NA,2:Pacific
    #bikes.at[bikes[bikes['Region_RC'] == 99].index[0],'Region_RC'] = mode_region

i 0
range range(0, 5)
pred loc 2
predicted [2]
i 1
range range(0, 5)
pred loc 1
predicted [2, 1]
i 2
range range(0, 5)
pred loc 0
predicted [2, 1, 0]
i 3
range range(0, 5)
pred loc 0
predicted [2, 1, 0, 0]
i 4
range range(0, 5)
pred loc 1
predicted [2, 1, 0, 0, 1]
i 0
i 1
i 2
i 3
i 4

In [ ]:
#complete_RC.at[complete_RC[complete_RC['Region_RC']==99].index[0],'Region_RC']= predicted[0]

In [435]:
complete_RC[complete_RC['Region']=='Unknown']

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike,Region_RC
56,40000.0,0,0,Unknown,38.0,0,1,0,1,1,1,Yes,2
70,120000.0,0,4,Unknown,36.0,0,1,3,2,1,11,Yes,1
280,10000.0,3,2,Unknown,43.0,1,0,3,3,1,1,No,0
424,NaN,3,2,Unknown,43.0,1,0,3,3,1,1,No,0
604,40000.0,0,2,Unknown,27.0,0,1,2,0,1,10,No,1