### Bikes Dataset

Hier een jupyter notebook bestand waar jullie in kunnen werken. Denk aan het lesmateriaal van afgelopen middag.

# Assignment

Stel je een casus voor. Een fietsenmakerbedrijf heeft moeite met de verkoop van fietsen aan zijn of haar klanten en doet wanhopige pogingen om klanten te lokken bij zijn bedrijf. Er zijn gewoon te veel factoren voor de fietsenmaker om te voorspellen wie je moet bereiken. Hij besluit een datascientist in te huren die in één dag tijd uit zijn data bruikbare informatie probeert te halen.  Dit kan op enkele manieren, namelijk, door (i) inzicht te geven in de relaties tussen attributen in de dataset, (ii) deze relaties te visualiseren, (iii) te laten zien welke attributen (features) van belang zijn voor het voorspellen van een potentiele klant en (iv) hoe goed een model kan voorspellen wie van een nieuwe test-set klanten wel of niet een fiets gaat kopen. 
 
Presenteer je bevindingen en proces in een verslag. Dit mag in een jupyter notebook bestand of in een word-bestand. Je mag bij deze opdracht gebruik maken van WEKA en van PYTHON (en natuurlijk jupyter notebook). Hou de volgende structuur aan in je verslag:  
 
Weka leent zich goed voor om de data te importeren en snel in te zien. Verschillende relaties te herkennen en algoritmes snel op toe te passen.  
 
Python leent zich goed voor het verkennen en aanpassen van de data. Er missen hier en daar waardes die opgevuld dienen te worden.  
 
Beoordeling 
 
Je wordt bij deze opdracht beoordeeld op de volgende criteria:  
 
1. De navolgbaarheid van je proces. Als opdrachtgever wil je het proces kunnen begrijpen van je datascientist. Waarom heeft hij/zij deze en deze keuze gemaakt? Wat voegt het toe aan de wens van de opdrachtgever? 
2. Is de data voldoende geïnterpreteerd en uitgelegd? Leg bijvoorbeeld per attribuut uit of het een (grote) rol speelt voor het voorspellen van het wel of niet kopen van een fiets. Kijk of je een plot kan maken van de data (wij de docenten zullen hier morgen ondersteuning voor geven).  
3. Heb je kunnen voorspellen wie er van de test-set een fiets heeft gekocht of niet. We zullen hier niet streng op zijn sinds het concept hiervan nog vrij lastig is. De voorspelling mag zowel met WEKA als met PYTHON gemaakt worden. Nog beter als je het met beide doet.

# Exploration

First we'll start with importing the csv and looking at the contents of the file

In [1]:
import pandas as pd
bikes = pd.read_csv('bikes.csv')

In [2]:
bikes.info()
bikes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
ID                  1000 non-null int64
Marital Status      1000 non-null object
Gender              1000 non-null object
Income              932 non-null float64
Children            1000 non-null int64
Education           1000 non-null object
Occupation          1000 non-null object
Home Owner          1000 non-null object
Cars                1000 non-null int64
Commute Distance    1000 non-null object
Region              995 non-null object
Age                 989 non-null float64
Purchased Bike      1000 non-null object
dtypes: float64(2), int64(3), object(8)
memory usage: 101.7+ KB

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5,Partial College,Professional,No,2,2-5 Miles,Europe,60.0,No
3,24381,Single,Male,70000.0,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41.0,Yes
4,25597,Single,Male,30000.0,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36.0,Yes ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2,High School,Professional,Yes,2,2-5 Miles,North America,54.0,
996,28672,Single,Male,NaN,4,Graduate Degree,Professional,Yes,0,2-5 Miles,North America,35.0,
997,11809,Married,Male,60000.0,2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,North America,38.0,
998,19664,Single,Male,100000.0,3,Bachelors,Management,No,3,1-2 Miles,North America,38.0,
999,12121,Single,Male,60000.0,3,High School,Professional,Yes,2,10+ Miles,North America,53.0,

We can see the contents of the file, columns and the datatype of the columns

In [3]:
bikes.info()
bikes
bikes.keys()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
ID                  1000 non-null int64
Marital Status      1000 non-null object
Gender              1000 non-null object
Income              932 non-null float64
Children            1000 non-null int64
Education           1000 non-null object
Occupation          1000 non-null object
Home Owner          1000 non-null object
Cars                1000 non-null int64
Commute Distance    1000 non-null object
Region              995 non-null object
Age                 989 non-null float64
Purchased Bike      1000 non-null object
dtypes: float64(2), int64(3), object(8)
memory usage: 101.7+ KB

Index(['ID', 'Marital Status', 'Gender', 'Income', 'Children', 'Education',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Purchased Bike '],
      dtype='object')

Info shows us that many of the fields are Objects and that we've got missing values. Here we also encounter our first pitfall : bikes gives us the entire contents and we can see "empty" fields in the column Purchased Bikes. .Info() however , tells us that 1000/1000 of the fields are filled with values. These emtpy field therefore aren't empty.
Keys gives us the Second pitfall : the column Purchased Bike has an extra space in the name

# Datacleaning

First we'll start with the cleaning of our data, we'll do this column by column

## ID
Is there anything in ID we can work with? Sort should give us a first indication

In [4]:
bikes.sort_values(by=['ID'])

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
306,11000,Married,Male,90000.0,2,Bachelors,Professional,Yes,0,1-2 Miles,Pacific,40.0,Yes
186,11047,Married,Female,30000.0,3,High School,Skilled Manual,No,2,1-2 Miles,Pacific,56.0,Yes
441,11061,Married,Male,80000.0,2,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,52.0,Yes
924,11090,Single,Male,90000.0,2,Partial College,Professional,Yes,1,2-5 Miles,North America,48.0,
411,11116,Married,Male,70000.0,5,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,43.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,29337,Single,Male,30000.0,2,Partial College,Clerical,Yes,2,5-10 Miles,Pacific,68.0,No
66,29355,Married,Female,40000.0,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,37.0,Yes
44,29380,Married,Female,20000.0,3,High School,Manual,Yes,0,0-1 Miles,Europe,41.0,Yes
337,29424,Married,Male,10000.0,0,Partial High School,Manual,Yes,2,0-1 Miles,Europe,32.0,No
435,29447,Single,Female,NaN,2,Bachelors,Clerical,No,1,2-5 Miles,Europe,68.0,No ...

The ID values don't start with 1 and aren't all used. How about uniqueness?

In [5]:
bikes.nunique()

ID                  1000
Marital Status         2
Gender                 2
Income                16
Children               6
Education              5
Occupation             5
Home Owner             2
Cars                   5
Commute Distance       5
Region                 3
Age                   53
Purchased Bike        79
dtype: int64

all of the IDs are unique and so might be of low value to us , atleast for our training purposes. We can mark this as "Might be dropped"

## Marital Status + Gender
nunique gave us only 2 Marital Statusses and Genders , we can directly recode this with the labelencoder in sklearn.preprocessing

In [6]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
bikes['Marital_Status_RC'] = le.fit_transform(bikes['Marital Status'])
bikes['Gender_RC'] = le.fit_transform(bikes['Gender'])
bikes

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike,Marital_Status_RC,Gender_RC
0,12496,Married,Female,40000.0,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42.0,No,0,0
1,24107,Married,Male,30000.0,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43.0,No,0,1
2,14177,Married,Male,80000.0,5,Partial College,Professional,No,2,2-5 Miles,Europe,60.0,No,0,1
3,24381,Single,Male,70000.0,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41.0,Yes,1,1
4,25597,Single,Male,30000.0,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36.0,Yes ...,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2,High School,Professional,Yes,2,2-5 Miles,North America,54.0,,0,1
996,28672,Single,Male,NaN,4,Graduate Degree,Professional,Yes,0,2-5 Miles,North America,35.0,,1,1
997,11809,Married,Male,60000.0,2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,North America,38.0,,0,1
998,19664,Single,Male,100000.0,3,Bachelors,Management,No,3,1-2 Miles,North America,38.0,,1,1
999,12121,Single,Male,60000.0,3,High School,Professional,Yes,2,10+ Miles,North America,53.0,,1,1

We can now see that in Martital Status, Married has been recoded to 0 , as is Female in Gender

## Income
Income is the first column that has missing values, but we'll return to those after the cleaning part
First lets see the unique entries to see if we need to clean anything

In [7]:
bikes.Income.unique()

array([ 40000.,  30000.,  80000.,  70000.,  10000., 160000.,  20000.,
        90000., 170000.,  60000.,     nan, 100000., 130000., 120000.,
        50000., 110000., 150000.])

We can see that every value is marked as a float but can as easily be marked as an Int.

Some digging showed me the reason for the float; NaN is a type of float and I'm not allowed to recast it without first replacing the NaNs (bikes['Income_int'] =bikes['Income'].astype('int64'))

## Children
lets see if Children has any weird values or missing values

In [8]:
bikes.Children.unique()

array([1, 3, 5, 0, 2, 4])

everything seems to be in order , no action needed for now

## Education
lets see if Education has any weird values or missing values

In [9]:
bikes.Education.unique()

array(['Bachelors', 'Partial College', 'High School',
       'Partial High School', 'Graduate Degree'], dtype=object)

everything seems to be in order , but we can't use these values. Time to re-encode them

In [10]:
bikes['Education_RC'] = le.fit_transform(bikes['Education'])

With a lot of unique values , we're starting to lose oversight in the used codes for the catogories , time to switch to a more manual approach for these.

In [11]:
#First let's drop the recoded Education
bikes.drop(columns=['Education_RC'],axis=1)

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike,Marital_Status_RC,Gender_RC
0,12496,Married,Female,40000.0,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42.0,No,0,0
1,24107,Married,Male,30000.0,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43.0,No,0,1
2,14177,Married,Male,80000.0,5,Partial College,Professional,No,2,2-5 Miles,Europe,60.0,No,0,1
3,24381,Single,Male,70000.0,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41.0,Yes,1,1
4,25597,Single,Male,30000.0,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36.0,Yes ...,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2,High School,Professional,Yes,2,2-5 Miles,North America,54.0,,0,1
996,28672,Single,Male,NaN,4,Graduate Degree,Professional,Yes,0,2-5 Miles,North America,35.0,,1,1
997,11809,Married,Male,60000.0,2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,North America,38.0,,0,1
998,19664,Single,Male,100000.0,3,Bachelors,Management,No,3,1-2 Miles,North America,38.0,,1,1
999,12121,Single,Male,60000.0,3,High School,Professional,Yes,2,10+ Miles,North America,53.0,,1,1

In [12]:
#Recreate manually
bikes['Education_RC'] = bikes['Education'].map( {'Bachelors': 0, 'Partial College': 1, 'High School': 2, 'Partial High School': 3, 'Graduate Degree': 4} ).astype(int)

## Occupation
lets see if Occupation has any weird values or missing values

In [13]:
bikes.Occupation.unique()

array(['Skilled Manual', 'Clerical', 'Professional', 'Manual',
       'Management'], dtype=object)

everything seems to be in order , but we can't use these values. Time to re-encode them

In [14]:
bikes['Occupation_RC'] = bikes['Occupation'].map( {'Skilled Manual': 0, 'Clerical': 1, 'Professional': 2, 'Manual': 3, 'Management': 4} ).astype(int)

## Home Owner
We've already seen that Home Owner only has 2 values ; yes and no.We can't use these values so time to re-encode them

In [15]:
bikes['Home_Owner_RC'] = bikes['Home Owner'].map( {'No': 0, 'Yes': 1} ).astype(int)

## Cars
Cars already is an int and has 1000 values but let's check the uniques to be sure

In [16]:
bikes.Cars.unique()

array([0, 1, 2, 4, 3])

Everyhing seems to be in order and because it's an int already , no need to reencode.

## Commute Distance
is an object filled with 1000 values but it's a mix between letters and numbers.
let's see the uniques

In [17]:
bikes['Commute Distance'].unique()

array(['0-1 Miles', '2-5 Miles', '5-10 Miles', '1-2 Miles', '10+ Miles'],
      dtype=object)

The uniques are clear but we'll need to reform the values. we'll removes all the miles and use the max distance instead of the spread. Using 11 for 10+

In [18]:
#First remove all the non-digits
bikes['Commute_Distance_RC'] = bikes['Commute Distance'].str.replace(r'\D', '').astype(int)

In [19]:
#recode
bikes['Commute_Distance_RC'] = bikes['Commute_Distance_RC'].map( {1:1, 25: 5,10: 11, 510: 10, 12: 2}  )
#1 still has to be mapped, otherwise it seems to be replaced with NaN

## Region
Region has 5 missing values to start with , lets see the rest

In [20]:
bikes.Region.unique()

array(['Europe', 'Pacific', nan, 'North America'], dtype=object)

we'll need to recode. to make them usefull but first we'll need to replace the NaN and remember to "fix" it later

## Age 
Income is the third column that has missing values, but we'll return to those after the cleaning part. First lets see the unique entries to see if we need to clean anything

No cleaning needed

## Purchased Bike
The first small fix is fixing the title and removing the extra space :

In [21]:
bikes['Purchased Bike'] = bikes['Purchased Bike ']

We know that the 1000 values were filled in but we're also told that our extra set in contained within. lets see the uniques

In [22]:
bikes['Purchased Bike'].unique()

array(['No                                       ',
       'No                                         ',
       'No                                      ',
       'Yes                                         ',
       'Yes                                                ',
       'Yes                                        ',
       'No                                   ',
       'Yes                                          ',
       'Yes                                    ',
       'No                                          ',
       'No                                    ',
       'Yes                                   ',
       'Yes                                             ',
       'No                                             ',
       'Yes                                      ',
       'Yes                                              ',
       'No                                              ',
       'No                                                ',
       'No                                        ',
       'No                                 ',
       'Yes                                            ',
       'No                                                 ',
       'Yes                                     ',
       'Yes                                 ',
       'Yes                              ',
       'No                                            ',
       'Yes                                                    ',
       'No                                                    ',
       'No                                                   ',
       'Yes                                           ',
       'No                                           ',
       'Yes                                               ',
       'No                                     ',
       'No                                  ',
       'Yes                                                 ',
       'No                                               ',
       'No                                                     ',
       'Yes                                ',
       'Yes                                       ',
       'Yes                               ',
       'No                                                  ',
       'Yes                                  ',
       'No                                ',
       'No                               ',
       'No                             ',
       'Yes                             ',
       'Yes                                                      ',
       'No                       ', 'No                              ',
       'Yes                            ',
       'Yes                           ', 'No                          ',
       'No                           ', 'Yes                         ',
       'Yes                          ', 'No                            ',
       'No                        ', 'Yes                       ',
       'Yes                      ', 'No                         ',
       'No                      ', '                                   ',
       '                                 ',
       '                                ',
       '                               ',
       '                                       ',
       '                                  ',
       '                              ', '                             ',
       '                                         ',
       '                                     ',
       '                                    ',
       '                                      ',
       '                          ', '                           ',
       '                            ',
       '                                          ',
       '                                        ',
       '                                           '], dtype=object)

A lot of extra empty spaces, let's remove these first

In [23]:
bikes['Purchased Bike' ]= bikes['Purchased Bike'].str.strip()

In [24]:
bikes['Purchased Bike'].unique()

array(['No', 'Yes', ''], dtype=object)

we know that the left over empty spaces are the testset that we have to split off but the spaces aren't truelly empty. lets replace those white spaces with NaN values :

In [25]:
import numpy as np
bikes = bikes.replace(r'^\s*$', np.nan, regex=True)

In [26]:
bikes['Purchased Bike'].unique()

array(['No', 'Yes', nan], dtype=object)

# Split

In [27]:
complete_RC = bikes.drop(['ID','Marital Status','Gender','Education','Occupation','Home Owner','Commute Distance','Purchased Bike ' ], axis =1)
complete_RC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Income                 932 non-null float64
Children               1000 non-null int64
Cars                   1000 non-null int64
Region                 995 non-null object
Age                    989 non-null float64
Marital_Status_RC      1000 non-null int64
Gender_RC              1000 non-null int64
Education_RC           1000 non-null int64
Occupation_RC          1000 non-null int64
Home_Owner_RC          1000 non-null int64
Commute_Distance_RC    1000 non-null int64
Purchased Bike         808 non-null object
dtypes: float64(2), int64(8), object(2)
memory usage: 93.9+ KB

In [28]:
complete_RC_isnull = complete_RC[complete_RC['Purchased Bike'].isnull()]
complete_RC_notnull = complete_RC[complete_RC['Purchased Bike'].notnull()]

# Fill missing data

We know that Income , Region and Age have missing values. Let's see if we can fill these

# Region

- Split the null and not null values 
- recode Region
- recode used variables (Income,Age,Education,Occupation and Gender)

In [29]:
set_region_notnull = complete_RC_notnull[complete_RC_notnull['Region'].notnull()]
set_region_null = complete_RC_notnull[complete_RC_notnull['Region'].isnull()]
print(len(set_region_notnull),len(set_region_null))

803 5

In [30]:
set_region_null = set_region_null[set_region_null['Income'].notnull()]
set_region_notnull = set_region_notnull[set_region_notnull['Income'].notnull()]
set_region_null = set_region_null[set_region_null['Age'].notnull()]
set_region_notnull = set_region_notnull[set_region_notnull['Age'].notnull()]

from sklearn.model_selection import train_test_split
trainingSet, testSet = train_test_split(set_region_notnull, test_size=0.2)
print(len(trainingSet),len(testSet))
trainingSet['Region_RC'] = le.fit_transform(trainingSet['Region'])
testSet['Region_RC'] = le.fit_transform(testSet['Region'])
set_region_null['Region_RC'] = le.fit_transform(set_region_null['Region'])

588 147

/Users/mikedroog/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/mikedroog/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [31]:
features=list(zip(trainingSet['Income'],trainingSet['Age'],trainingSet['Occupation_RC'],trainingSet['Education_RC'],trainingSet['Gender_RC']))

In [32]:
trainingSet

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike,Region_RC
122,80000.0,0,3,Pacific,31.0,1,0,0,2,0,11,No,2
82,30000.0,0,0,Europe,47.0,0,1,0,1,1,1,Yes,0
451,40000.0,1,0,Europe,41.0,0,0,0,0,1,1,No,0
745,60000.0,4,0,North America,47.0,0,1,4,0,1,2,Yes,1
328,40000.0,2,2,Europe,36.0,1,1,1,1,1,2,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,60000.0,0,1,North America,27.0,1,1,1,0,1,10,Yes,1
445,40000.0,1,1,Europe,32.0,0,0,0,0,1,2,Yes,0
343,30000.0,0,1,Europe,32.0,1,0,2,3,0,5,No,0
607,70000.0,5,3,North America,46.0,1,0,4,2,1,11,Yes,1
674,30000.0,2,2,North America,48.0,0,0,2,0,1,2,No,1

In [33]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
Acc = []
for x in range(len(trainingSet)):
    model = KNeighborsClassifier(n_neighbors=x+1)
    model.fit(features,trainingSet['Region_RC'])
    
    predicted = []
    for i in range(len(testSet)):
        income = testSet.iloc[i].Income
        age = testSet.iloc[i].Age
        occupation = testSet.iloc[i].Occupation_RC
        education = testSet.iloc[i].Education_RC
        gender = testSet.iloc[i].Gender_RC
        predicted.__iadd__(model.predict([[income,age,occupation,education,gender]])) # 0:Europe, 1:NA,2:Pacific
    print("Accuracy:",x+1,metrics.accuracy_score(testSet.Region_RC, predicted))
    Acc.append(metrics.accuracy_score(testSet.Region_RC, predicted))
max_value = max(Acc)
max_index = Acc.index(max_value)
print('max',max_index)
print('max_val',max_value)
if Acc.index(max_value) == 0: #Crossvalidation is prefered so we're excluding the 1 neighbour value if it's the highest
    Acc.remove(Acc[0])
    max_value = max(Acc)
    max_index = Acc.index(max_value)
    print('max',max_index)
    print('max_val',max_value)

Accuracy: 1 0.9115646258503401
Accuracy: 2 0.891156462585034
Accuracy: 3 0.8979591836734694
Accuracy: 4 0.782312925170068
Accuracy: 5 0.782312925170068
Accuracy: 6 0.7482993197278912
Accuracy: 7 0.7551020408163265
Accuracy: 8 0.7755102040816326
Accuracy: 9 0.7755102040816326
Accuracy: 10 0.7551020408163265
Accuracy: 11 0.7687074829931972
Accuracy: 12 0.7551020408163265
Accuracy: 13 0.7346938775510204
Accuracy: 14 0.782312925170068
Accuracy: 15 0.782312925170068
Accuracy: 16 0.7482993197278912
Accuracy: 17 0.7346938775510204
Accuracy: 18 0.6802721088435374
Accuracy: 19 0.6870748299319728
Accuracy: 20 0.7006802721088435
Accuracy: 21 0.673469387755102
Accuracy: 22 0.6666666666666666
Accuracy: 23 0.6666666666666666
Accuracy: 24 0.673469387755102
Accuracy: 25 0.6598639455782312
Accuracy: 26 0.6802721088435374
Accuracy: 27 0.6530612244897959
Accuracy: 28 0.6462585034013606
Accuracy: 29 0.6462585034013606
Accuracy: 30 0.673469387755102
Accuracy: 31 0.673469387755102
Accuracy: 32 0.673469387755102
Accuracy: 33 0.6666666666666666
Accuracy: 34 0.6598639455782312
Accuracy: 35 0.6598639455782312
Accuracy: 36 0.6666666666666666
Accuracy: 37 0.673469387755102
Accuracy: 38 0.673469387755102
Accuracy: 39 0.6870748299319728
Accuracy: 40 0.6802721088435374
Accuracy: 41 0.6870748299319728
Accuracy: 42 0.6802721088435374
Accuracy: 43 0.6870748299319728
Accuracy: 44 0.6870748299319728
Accuracy: 45 0.6938775510204082
Accuracy: 46 0.6598639455782312
Accuracy: 47 0.6666666666666666
Accuracy: 48 0.6666666666666666
Accuracy: 49 0.6394557823129252
Accuracy: 50 0.6258503401360545
Accuracy: 51 0.6190476190476191
Accuracy: 52 0.6122448979591837
Accuracy: 53 0.6122448979591837
Accuracy: 54 0.6122448979591837
Accuracy: 55 0.6122448979591837
Accuracy: 56 0.6122448979591837
Accuracy: 57 0.6122448979591837
Accuracy: 58 0.6122448979591837
Accuracy: 59 0.6122448979591837
Accuracy: 60 0.6122448979591837
Accuracy: 61 0.6122448979591837
Accuracy: 62 0.6054421768707483
Accuracy: 63 0.5986394557823129
Accuracy: 64 0.5986394557823129
Accuracy: 65 0.5918367346938775
Accuracy: 66 0.5918367346938775
Accuracy: 67 0.5918367346938775
Accuracy: 68 0.5918367346938775
Accuracy: 69 0.5918367346938775
Accuracy: 70 0.5918367346938775
Accuracy: 71 0.5918367346938775
Accuracy: 72 0.5918367346938775
Accuracy: 73 0.5986394557823129
Accuracy: 74 0.5918367346938775
Accuracy: 75 0.5578231292517006
Accuracy: 76 0.5578231292517006
Accuracy: 77 0.564625850340136
Accuracy: 78 0.5510204081632653
Accuracy: 79 0.5510204081632653
Accuracy: 80 0.54421768707483
Accuracy: 81 0.5714285714285714
Accuracy: 82 0.564625850340136
Accuracy: 83 0.564625850340136
Accuracy: 84 0.564625850340136
Accuracy: 85 0.5714285714285714
Accuracy: 86 0.5714285714285714
Accuracy: 87 0.564625850340136
Accuracy: 88 0.5986394557823129
Accuracy: 89 0.5782312925170068
Accuracy: 90 0.5918367346938775
Accuracy: 91 0.5850340136054422
Accuracy: 92 0.5986394557823129
Accuracy: 93 0.6054421768707483
Accuracy: 94 0.6190476190476191
Accuracy: 95 0.6394557823129252
Accuracy: 96 0.6258503401360545
Accuracy: 97 0.6258503401360545
Accuracy: 98 0.6258503401360545
Accuracy: 99 0.6190476190476191
Accuracy: 100 0.6258503401360545
Accuracy: 101 0.6258503401360545
Accuracy: 102 0.6258503401360545
Accuracy: 103 0.6258503401360545
Accuracy: 104 0.6258503401360545
Accuracy: 105 0.6258503401360545
Accuracy: 106 0.6326530612244898
Accuracy: 107 0.6258503401360545
Accuracy: 108 0.6258503401360545
Accuracy: 109 0.6258503401360545
Accuracy: 110 0.6054421768707483
Accuracy: 111 0.5986394557823129
Accuracy: 112 0.5986394557823129
Accuracy: 113 0.5986394557823129
Accuracy: 114 0.5986394557823129
Accuracy: 115 0.5986394557823129
Accuracy: 116 0.5986394557823129
Accuracy: 117 0.5986394557823129
Accuracy: 118 0.5986394557823129
Accuracy: 119 0.5918367346938775
Accuracy: 120 0.5918367346938775
Accuracy: 121 0.5850340136054422
Accuracy: 122 0.5850340136054422
Accuracy: 123 0.5850340136054422
Accuracy: 124 0.5850340136054422
Accuracy: 125 0.5850340136054422
Accuracy: 126 0.5850340136054422
Accuracy: 127 0.5850340136054422
Accuracy: 128 0.5850340136054422
Accuracy: 129 0.5850340136054422
Accuracy: 130 0.5850340136054422
Accuracy: 131 0.5850340136054422
Accuracy: 132 0.5850340136054422
Accuracy: 133 0.5850340136054422
Accuracy: 134 0.5850340136054422
Accuracy: 135 0.5850340136054422
Accuracy: 136 0.5850340136054422
Accuracy: 137 0.5850340136054422
Accuracy: 138 0.5850340136054422
Accuracy: 139 0.5850340136054422
Accuracy: 140 0.5850340136054422
Accuracy: 141 0.5850340136054422
Accuracy: 142 0.5850340136054422
Accuracy: 143 0.5850340136054422
Accuracy: 144 0.5850340136054422
Accuracy: 145 0.5850340136054422
Accuracy: 146 0.5850340136054422
Accuracy: 147 0.5850340136054422
Accuracy: 148 0.5850340136054422
Accuracy: 149 0.5850340136054422
Accuracy: 150 0.5850340136054422
Accuracy: 151 0.5850340136054422
Accuracy: 152 0.5850340136054422
Accuracy: 153 0.5850340136054422
Accuracy: 154 0.5850340136054422
Accuracy: 155 0.5850340136054422
Accuracy: 156 0.5850340136054422
Accuracy: 157 0.5850340136054422
Accuracy: 158 0.5850340136054422
Accuracy: 159 0.5850340136054422
Accuracy: 160 0.5850340136054422
Accuracy: 161 0.5850340136054422
Accuracy: 162 0.5850340136054422
Accuracy: 163 0.5850340136054422
Accuracy: 164 0.5850340136054422
Accuracy: 165 0.5850340136054422
Accuracy: 166 0.5850340136054422
Accuracy: 167 0.5850340136054422
Accuracy: 168 0.5850340136054422
Accuracy: 169 0.5850340136054422
Accuracy: 170 0.5850340136054422
Accuracy: 171 0.5850340136054422
Accuracy: 172 0.5850340136054422
Accuracy: 173 0.5850340136054422
Accuracy: 174 0.5850340136054422
Accuracy: 175 0.5850340136054422
Accuracy: 176 0.5850340136054422
Accuracy: 177 0.5850340136054422
Accuracy: 178 0.5850340136054422
Accuracy: 179 0.5850340136054422
Accuracy: 180 0.5850340136054422
Accuracy: 181 0.5850340136054422
Accuracy: 182 0.5850340136054422
Accuracy: 183 0.5850340136054422
Accuracy: 184 0.5850340136054422
Accuracy: 185 0.5850340136054422
Accuracy: 186 0.5850340136054422
Accuracy: 187 0.5850340136054422
Accuracy: 188 0.5850340136054422
Accuracy: 189 0.5850340136054422
Accuracy: 190 0.5850340136054422
Accuracy: 191 0.5850340136054422
Accuracy: 192 0.5850340136054422
Accuracy: 193 0.5850340136054422
Accuracy: 194 0.5850340136054422
Accuracy: 195 0.5850340136054422
Accuracy: 196 0.5850340136054422
Accuracy: 197 0.5850340136054422
Accuracy: 198 0.5850340136054422
Accuracy: 199 0.5850340136054422
Accuracy: 200 0.5850340136054422
Accuracy: 201 0.5850340136054422
Accuracy: 202 0.5850340136054422
Accuracy: 203 0.5850340136054422
Accuracy: 204 0.5850340136054422
Accuracy: 205 0.5850340136054422
Accuracy: 206 0.5850340136054422
Accuracy: 207 0.5850340136054422
Accuracy: 208 0.5850340136054422
Accuracy: 209 0.5850340136054422
Accuracy: 210 0.5850340136054422
Accuracy: 211 0.5850340136054422
Accuracy: 212 0.5850340136054422
Accuracy: 213 0.5850340136054422
Accuracy: 214 0.5850340136054422
Accuracy: 215 0.5850340136054422
Accuracy: 216 0.5850340136054422
Accuracy: 217 0.5850340136054422
Accuracy: 218 0.5850340136054422
Accuracy: 219 0.5850340136054422
Accuracy: 220 0.5850340136054422
Accuracy: 221 0.5850340136054422
Accuracy: 222 0.5850340136054422
Accuracy: 223 0.5850340136054422
Accuracy: 224 0.5850340136054422
Accuracy: 225 0.5850340136054422
Accuracy: 226 0.5850340136054422
Accuracy: 227 0.5850340136054422
Accuracy: 228 0.5850340136054422
Accuracy: 229 0.5850340136054422
Accuracy: 230 0.5850340136054422
Accuracy: 231 0.5850340136054422
Accuracy: 232 0.5850340136054422
Accuracy: 233 0.5850340136054422
Accuracy: 234 0.5850340136054422
Accuracy: 235 0.5850340136054422
Accuracy: 236 0.5850340136054422
Accuracy: 237 0.5850340136054422
Accuracy: 238 0.5850340136054422
Accuracy: 239 0.5850340136054422
Accuracy: 240 0.5850340136054422
Accuracy: 241 0.5850340136054422
Accuracy: 242 0.5850340136054422
Accuracy: 243 0.5850340136054422
Accuracy: 244 0.5850340136054422
Accuracy: 245 0.5850340136054422
Accuracy: 246 0.5850340136054422
Accuracy: 247 0.5850340136054422
Accuracy: 248 0.5850340136054422
Accuracy: 249 0.5850340136054422
Accuracy: 250 0.5918367346938775
Accuracy: 251 0.5850340136054422
Accuracy: 252 0.5850340136054422
Accuracy: 253 0.5850340136054422

Accuracy: 254 0.5850340136054422
Accuracy: 255 0.5850340136054422
Accuracy: 256 0.5850340136054422
Accuracy: 257 0.5986394557823129
Accuracy: 258 0.5986394557823129
Accuracy: 259 0.5986394557823129
Accuracy: 260 0.5918367346938775
Accuracy: 261 0.5918367346938775
Accuracy: 262 0.5918367346938775
Accuracy: 263 0.5986394557823129
Accuracy: 264 0.6054421768707483
Accuracy: 265 0.6054421768707483
Accuracy: 266 0.6054421768707483
Accuracy: 267 0.5986394557823129
Accuracy: 268 0.6054421768707483
Accuracy: 269 0.6054421768707483
Accuracy: 270 0.6054421768707483
Accuracy: 271 0.6054421768707483
Accuracy: 272 0.5986394557823129
Accuracy: 273 0.5986394557823129
Accuracy: 274 0.5986394557823129
Accuracy: 275 0.5986394557823129
Accuracy: 276 0.5986394557823129
Accuracy: 277 0.6054421768707483
Accuracy: 278 0.6054421768707483
Accuracy: 279 0.5918367346938775
Accuracy: 280 0.5986394557823129
Accuracy: 281 0.5918367346938775
Accuracy: 282 0.5986394557823129
Accuracy: 283 0.5986394557823129
Accuracy: 284 0.5918367346938775
Accuracy: 285 0.5986394557823129
Accuracy: 286 0.5918367346938775
Accuracy: 287 0.5986394557823129
Accuracy: 288 0.5986394557823129
Accuracy: 289 0.5986394557823129
Accuracy: 290 0.5986394557823129
Accuracy: 291 0.5986394557823129
Accuracy: 292 0.5986394557823129
Accuracy: 293 0.5918367346938775
Accuracy: 294 0.5918367346938775
Accuracy: 295 0.5918367346938775
Accuracy: 296 0.5918367346938775
Accuracy: 297 0.5918367346938775
Accuracy: 298 0.5918367346938775
Accuracy: 299 0.5918367346938775
Accuracy: 300 0.5918367346938775
Accuracy: 301 0.5918367346938775
Accuracy: 302 0.5918367346938775
Accuracy: 303 0.5918367346938775
Accuracy: 304 0.5714285714285714
Accuracy: 305 0.5714285714285714
Accuracy: 306 0.5714285714285714
Accuracy: 307 0.5714285714285714
Accuracy: 308 0.5714285714285714
Accuracy: 309 0.5714285714285714
Accuracy: 310 0.5714285714285714
Accuracy: 311 0.5714285714285714
Accuracy: 312 0.5714285714285714
Accuracy: 313 0.5714285714285714
Accuracy: 314 0.5714285714285714
Accuracy: 315 0.5714285714285714
Accuracy: 316 0.5714285714285714
Accuracy: 317 0.5714285714285714
Accuracy: 318 0.5714285714285714
Accuracy: 319 0.5714285714285714
Accuracy: 320 0.5714285714285714
Accuracy: 321 0.5714285714285714
Accuracy: 322 0.5714285714285714
Accuracy: 323 0.5714285714285714
Accuracy: 324 0.5714285714285714
Accuracy: 325 0.5714285714285714
Accuracy: 326 0.5714285714285714
Accuracy: 327 0.5714285714285714
Accuracy: 328 0.5714285714285714
Accuracy: 329 0.5714285714285714
Accuracy: 330 0.5714285714285714
Accuracy: 331 0.5714285714285714
Accuracy: 332 0.5714285714285714
Accuracy: 333 0.5714285714285714
Accuracy: 334 0.5714285714285714
Accuracy: 335 0.5714285714285714
Accuracy: 336 0.5714285714285714
Accuracy: 337 0.5714285714285714
Accuracy: 338 0.5714285714285714
Accuracy: 339 0.5714285714285714
Accuracy: 340 0.5714285714285714
Accuracy: 341 0.5714285714285714
Accuracy: 342 0.5714285714285714
Accuracy: 343 0.5714285714285714
Accuracy: 344 0.5714285714285714
Accuracy: 345 0.5714285714285714
Accuracy: 346 0.5714285714285714
Accuracy: 347 0.5782312925170068
Accuracy: 348 0.5782312925170068
Accuracy: 349 0.5782312925170068
Accuracy: 350 0.5782312925170068
Accuracy: 351 0.5782312925170068
Accuracy: 352 0.5782312925170068
Accuracy: 353 0.5782312925170068
Accuracy: 354 0.5782312925170068
Accuracy: 355 0.5782312925170068
Accuracy: 356 0.5782312925170068
Accuracy: 357 0.5714285714285714
Accuracy: 358 0.5850340136054422
Accuracy: 359 0.5918367346938775
Accuracy: 360 0.5918367346938775
Accuracy: 361 0.5986394557823129
Accuracy: 362 0.5986394557823129
Accuracy: 363 0.6122448979591837
Accuracy: 364 0.6122448979591837
Accuracy: 365 0.6190476190476191
Accuracy: 366 0.6190476190476191
Accuracy: 367 0.6190476190476191
Accuracy: 368 0.6190476190476191
Accuracy: 369 0.6054421768707483
Accuracy: 370 0.6054421768707483
Accuracy: 371 0.5782312925170068
Accuracy: 372 0.5782312925170068
Accuracy: 373 0.5782312925170068
Accuracy: 374 0.5782312925170068
Accuracy: 375 0.5782312925170068
Accuracy: 376 0.5782312925170068
Accuracy: 377 0.5782312925170068
Accuracy: 378 0.5782312925170068
Accuracy: 379 0.5782312925170068
Accuracy: 380 0.5918367346938775
Accuracy: 381 0.5918367346938775
Accuracy: 382 0.5918367346938775
Accuracy: 383 0.5782312925170068
Accuracy: 384 0.5782312925170068
Accuracy: 385 0.5918367346938775
Accuracy: 386 0.5918367346938775
Accuracy: 387 0.5918367346938775
Accuracy: 388 0.5918367346938775
Accuracy: 389 0.5918367346938775
Accuracy: 390 0.5918367346938775
Accuracy: 391 0.5918367346938775
Accuracy: 392 0.5918367346938775
Accuracy: 393 0.5986394557823129
Accuracy: 394 0.5918367346938775
Accuracy: 395 0.5986394557823129
Accuracy: 396 0.5986394557823129
Accuracy: 397 0.5986394557823129
Accuracy: 398 0.5918367346938775
Accuracy: 399 0.5986394557823129
Accuracy: 400 0.5986394557823129
Accuracy: 401 0.5986394557823129
Accuracy: 402 0.5986394557823129
Accuracy: 403 0.5986394557823129
Accuracy: 404 0.5986394557823129
Accuracy: 405 0.5986394557823129
Accuracy: 406 0.5918367346938775
Accuracy: 407 0.6054421768707483
Accuracy: 408 0.6190476190476191
Accuracy: 409 0.5986394557823129
Accuracy: 410 0.5986394557823129
Accuracy: 411 0.5986394557823129
Accuracy: 412 0.5986394557823129
Accuracy: 413 0.5986394557823129
Accuracy: 414 0.5986394557823129
Accuracy: 415 0.5918367346938775
Accuracy: 416 0.5918367346938775
Accuracy: 417 0.5918367346938775
Accuracy: 418 0.5918367346938775
Accuracy: 419 0.5850340136054422
Accuracy: 420 0.5782312925170068
Accuracy: 421 0.5782312925170068
Accuracy: 422 0.5782312925170068
Accuracy: 423 0.5578231292517006
Accuracy: 424 0.5578231292517006
Accuracy: 425 0.5578231292517006
Accuracy: 426 0.5510204081632653
Accuracy: 427 0.5510204081632653
Accuracy: 428 0.5714285714285714
Accuracy: 429 0.54421768707483
Accuracy: 430 0.54421768707483
Accuracy: 431 0.54421768707483
Accuracy: 432 0.3945578231292517
Accuracy: 433 0.3945578231292517
Accuracy: 434 0.3945578231292517
Accuracy: 435 0.3945578231292517
Accuracy: 436 0.3945578231292517
Accuracy: 437 0.3945578231292517
Accuracy: 438 0.3945578231292517
Accuracy: 439 0.3945578231292517
Accuracy: 440 0.3945578231292517
Accuracy: 441 0.3945578231292517
Accuracy: 442 0.3945578231292517
Accuracy: 443 0.3945578231292517
Accuracy: 444 0.3945578231292517
Accuracy: 445 0.3945578231292517
Accuracy: 446 0.3945578231292517
Accuracy: 447 0.3945578231292517
Accuracy: 448 0.3945578231292517
Accuracy: 449 0.3945578231292517
Accuracy: 450 0.3945578231292517
Accuracy: 451 0.3945578231292517
Accuracy: 452 0.3945578231292517
Accuracy: 453 0.3945578231292517
Accuracy: 454 0.3945578231292517
Accuracy: 455 0.3945578231292517
Accuracy: 456 0.3945578231292517
Accuracy: 457 0.3945578231292517
Accuracy: 458 0.3945578231292517
Accuracy: 459 0.3945578231292517
Accuracy: 460 0.3945578231292517
Accuracy: 461 0.3945578231292517
Accuracy: 462 0.3945578231292517
Accuracy: 463 0.3945578231292517
Accuracy: 464 0.3945578231292517
Accuracy: 465 0.3945578231292517
Accuracy: 466 0.3945578231292517
Accuracy: 467 0.3945578231292517
Accuracy: 468 0.3945578231292517
Accuracy: 469 0.3945578231292517
Accuracy: 470 0.3945578231292517
Accuracy: 471 0.3945578231292517
Accuracy: 472 0.3945578231292517
Accuracy: 473 0.3945578231292517
Accuracy: 474 0.3945578231292517
Accuracy: 475 0.3945578231292517
Accuracy: 476 0.3945578231292517
Accuracy: 477 0.3945578231292517
Accuracy: 478 0.3945578231292517
Accuracy: 479 0.3945578231292517
Accuracy: 480 0.3945578231292517
Accuracy: 481 0.3945578231292517
Accuracy: 482 0.3945578231292517
Accuracy: 483 0.3945578231292517
Accuracy: 484 0.3945578231292517
Accuracy: 485 0.3945578231292517
Accuracy: 486 0.3945578231292517
Accuracy: 487 0.3945578231292517
Accuracy: 488 0.3945578231292517
Accuracy: 489 0.3945578231292517
Accuracy: 490 0.3945578231292517
Accuracy: 491 0.3945578231292517
Accuracy: 492 0.3945578231292517
Accuracy: 493 0.3945578231292517
Accuracy: 494 0.3945578231292517
Accuracy: 495 0.3945578231292517
Accuracy: 496 0.3945578231292517
Accuracy: 497 0.3945578231292517
Accuracy: 498 0.3945578231292517
Accuracy: 499 0.3945578231292517
Accuracy: 500 0.3945578231292517
Accuracy: 501 0.3945578231292517
Accuracy: 502 0.3945578231292517

Accuracy: 503 0.3945578231292517
Accuracy: 504 0.3945578231292517
Accuracy: 505 0.3945578231292517
Accuracy: 506 0.3945578231292517
Accuracy: 507 0.3945578231292517
Accuracy: 508 0.3945578231292517
Accuracy: 509 0.3945578231292517
Accuracy: 510 0.3945578231292517
Accuracy: 511 0.3945578231292517
Accuracy: 512 0.3945578231292517
Accuracy: 513 0.3945578231292517
Accuracy: 514 0.3945578231292517
Accuracy: 515 0.3945578231292517
Accuracy: 516 0.3945578231292517
Accuracy: 517 0.3945578231292517
Accuracy: 518 0.3945578231292517
Accuracy: 519 0.3945578231292517
Accuracy: 520 0.3945578231292517
Accuracy: 521 0.3945578231292517
Accuracy: 522 0.3945578231292517
Accuracy: 523 0.3945578231292517
Accuracy: 524 0.3945578231292517
Accuracy: 525 0.3945578231292517
Accuracy: 526 0.3945578231292517
Accuracy: 527 0.3945578231292517
Accuracy: 528 0.3945578231292517
Accuracy: 529 0.3945578231292517
Accuracy: 530 0.3945578231292517
Accuracy: 531 0.3945578231292517
Accuracy: 532 0.3945578231292517
Accuracy: 533 0.3945578231292517
Accuracy: 534 0.3945578231292517
Accuracy: 535 0.3945578231292517
Accuracy: 536 0.3945578231292517
Accuracy: 537 0.3945578231292517
Accuracy: 538 0.3945578231292517
Accuracy: 539 0.3945578231292517
Accuracy: 540 0.3945578231292517
Accuracy: 541 0.3945578231292517
Accuracy: 542 0.3945578231292517
Accuracy: 543 0.3945578231292517
Accuracy: 544 0.3945578231292517
Accuracy: 545 0.3945578231292517
Accuracy: 546 0.3945578231292517
Accuracy: 547 0.3945578231292517
Accuracy: 548 0.3945578231292517
Accuracy: 549 0.3945578231292517
Accuracy: 550 0.3945578231292517
Accuracy: 551 0.3945578231292517
Accuracy: 552 0.3945578231292517
Accuracy: 553 0.3945578231292517
Accuracy: 554 0.3945578231292517
Accuracy: 555 0.3945578231292517
Accuracy: 556 0.3945578231292517
Accuracy: 557 0.3945578231292517
Accuracy: 558 0.3945578231292517
Accuracy: 559 0.3945578231292517
Accuracy: 560 0.3945578231292517
Accuracy: 561 0.3945578231292517
Accuracy: 562 0.3945578231292517
Accuracy: 563 0.3945578231292517
Accuracy: 564 0.3945578231292517
Accuracy: 565 0.3945578231292517
Accuracy: 566 0.3945578231292517
Accuracy: 567 0.3945578231292517
Accuracy: 568 0.3945578231292517
Accuracy: 569 0.3945578231292517
Accuracy: 570 0.3945578231292517
Accuracy: 571 0.3945578231292517
Accuracy: 572 0.3945578231292517
Accuracy: 573 0.3945578231292517
Accuracy: 574 0.3945578231292517
Accuracy: 575 0.3945578231292517
Accuracy: 576 0.3945578231292517
Accuracy: 577 0.3945578231292517
Accuracy: 578 0.3945578231292517
Accuracy: 579 0.3945578231292517
Accuracy: 580 0.3945578231292517
Accuracy: 581 0.3945578231292517
Accuracy: 582 0.3945578231292517
Accuracy: 583 0.3945578231292517
Accuracy: 584 0.3945578231292517
Accuracy: 585 0.3945578231292517
Accuracy: 586 0.3945578231292517
Accuracy: 587 0.3945578231292517
Accuracy: 588 0.3945578231292517
max 0
max_val 0.9115646258503401
max 1
max_val 0.8979591836734694

In [34]:
Acc

[0.891156462585034,
 0.8979591836734694,
 0.782312925170068,
 0.782312925170068,
 0.7482993197278912,
 0.7551020408163265,
 0.7755102040816326,
 0.7755102040816326,
 0.7551020408163265,
 0.7687074829931972,
 0.7551020408163265,
 0.7346938775510204,
 0.782312925170068,
 0.782312925170068,
 0.7482993197278912,
 0.7346938775510204,
 0.6802721088435374,
 0.6870748299319728,
 0.7006802721088435,
 0.673469387755102,
 0.6666666666666666,
 0.6666666666666666,
 0.673469387755102,
 0.6598639455782312,
 0.6802721088435374,
 0.6530612244897959,
 0.6462585034013606,
 0.6462585034013606,
 0.673469387755102,
 0.673469387755102,
 0.673469387755102,
 0.6666666666666666,
 0.6598639455782312,
 0.6598639455782312,
 0.6666666666666666,
 0.673469387755102,
 0.673469387755102,
 0.6870748299319728,
 0.6802721088435374,
 0.6870748299319728,
 0.6802721088435374,
 0.6870748299319728,
 0.6870748299319728,
 0.6938775510204082,
 0.6598639455782312,
 0.6666666666666666,
 0.6666666666666666,
 0.6394557823129252,
 0.6258503401360545,
 0.6190476190476191,
 0.6122448979591837,
 0.6122448979591837,
 0.6122448979591837,
 0.6122448979591837,
 0.6122448979591837,
 0.6122448979591837,
 0.6122448979591837,
 0.6122448979591837,
 0.6122448979591837,
 0.6122448979591837,
 0.6054421768707483,
 0.5986394557823129,
 0.5986394557823129,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5986394557823129,
 0.5918367346938775,
 0.5578231292517006,
 0.5578231292517006,
 0.564625850340136,
 0.5510204081632653,
 0.5510204081632653,
 0.54421768707483,
 0.5714285714285714,
 0.564625850340136,
 0.564625850340136,
 0.564625850340136,
 0.5714285714285714,
 0.5714285714285714,
 0.564625850340136,
 0.5986394557823129,
 0.5782312925170068,
 0.5918367346938775,
 0.5850340136054422,
 0.5986394557823129,
 0.6054421768707483,
 0.6190476190476191,
 0.6394557823129252,
 0.6258503401360545,
 0.6258503401360545,
 0.6258503401360545,
 0.6190476190476191,
 0.6258503401360545,
 0.6258503401360545,
 0.6258503401360545,
 0.6258503401360545,
 0.6258503401360545,
 0.6258503401360545,
 0.6326530612244898,
 0.6258503401360545,
 0.6258503401360545,
 0.6258503401360545,
 0.6054421768707483,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5918367346938775,
 0.5918367346938775,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5918367346938775,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5850340136054422,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5986394557823129,
 0.6054421768707483,
 0.6054421768707483,
 0.6054421768707483,
 0.5986394557823129,
 0.6054421768707483,
 0.6054421768707483,
 0.6054421768707483,
 0.6054421768707483,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.6054421768707483,
 0.6054421768707483,
 0.5918367346938775,
 0.5986394557823129,
 0.5918367346938775,
 0.5986394557823129,
 0.5986394557823129,
 0.5918367346938775,
 0.5986394557823129,
 0.5918367346938775,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5714285714285714,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5714285714285714,
 0.5850340136054422,
 0.5918367346938775,
 0.5918367346938775,
 0.5986394557823129,
 0.5986394557823129,
 0.6122448979591837,
 0.6122448979591837,
 0.6190476190476191,
 0.6190476190476191,
 0.6190476190476191,
 0.6190476190476191,
 0.6054421768707483,
 0.6054421768707483,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5782312925170068,
 0.5782312925170068,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5986394557823129,
 0.5918367346938775,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5918367346938775,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5918367346938775,
 0.6054421768707483,
 0.6190476190476191,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5986394557823129,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5918367346938775,
 0.5850340136054422,
 0.5782312925170068,
 0.5782312925170068,
 0.5782312925170068,
 0.5578231292517006,
 0.5578231292517006,
 0.5578231292517006,
 0.5510204081632653,
 0.5510204081632653,
 0.5714285714285714,
 0.54421768707483,
 0.54421768707483,
 0.54421768707483,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517,
 0.3945578231292517]

In [35]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
model = KNeighborsClassifier(n_neighbors=max_index+1)
model.fit(features,trainingSet['Region_RC'])
predicted = []
for i in range(len(testSet)):
    income = testSet.iloc[i].Income
    age = testSet.iloc[i].Age
    occupation = testSet.iloc[i].Occupation_RC
    education = testSet.iloc[i].Education_RC
    gender = testSet.iloc[i].Gender_RC
    predicted.__iadd__(model.predict([[income,age,occupation,education,gender]])) # 0:Europe, 1:NA,2:Pacific
print("Accuracy:",metrics.accuracy_score(testSet.Region_RC, predicted))

Accuracy: 0.891156462585034

In [36]:
testSet

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike,Region_RC
28,70000.0,5,2,Pacific,44.0,0,1,1,0,1,10,No,2
281,20000.0,1,0,Europe,37.0,1,1,1,3,0,1,No,0
752,60000.0,0,2,North America,32.0,0,1,1,2,1,10,No,1
758,80000.0,5,0,North America,47.0,1,0,4,0,0,1,No,1
764,60000.0,0,1,North America,27.0,0,0,1,0,0,2,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,40000.0,1,1,North America,48.0,0,1,1,1,1,2,Yes,1
473,30000.0,0,0,Europe,47.0,0,0,0,1,1,1,Yes,0
613,110000.0,1,4,North America,45.0,1,1,1,2,1,10,Yes,1
688,60000.0,4,2,North America,43.0,1,1,0,0,0,1,No,1
185,90000.0,1,1,Pacific,47.0,0,0,0,2,1,5,Yes,2

## Further testing
what happens if we add more columns to the fit?

In [37]:
features=list(zip(trainingSet['Income'],trainingSet['Age'],trainingSet['Occupation_RC'],trainingSet['Education_RC'],trainingSet['Gender_RC'],trainingSet['Children'],trainingSet['Cars'],trainingSet['Marital_Status_RC'],trainingSet['Home_Owner_RC'],trainingSet['Commute_Distance_RC']))

In [38]:
Acc = []
for x in range(len(trainingSet)):
    model = KNeighborsClassifier(n_neighbors=x+1)
    model.fit(features,trainingSet['Region_RC'])
    predicted = []
    for i in range(len(testSet)):
        income = testSet.iloc[i].Income
        age = testSet.iloc[i].Age
        occupation = testSet.iloc[i].Occupation_RC
        education = testSet.iloc[i].Education_RC
        gender = testSet.iloc[i].Gender_RC
        children = testSet.iloc[i].Children
        cars = testSet.iloc[i].Cars
        MS = testSet.iloc[i].Marital_Status_RC
        home = testSet.iloc[i].Home_Owner_RC
        CD = testSet.iloc[i].Commute_Distance_RC
        predicted.__iadd__(model.predict([[income,age,occupation,education,gender,children,cars,MS,home,CD]])) # 0:Europe, 1:NA,2:Pacific
    print("Accuracy:",x+1,metrics.accuracy_score(testSet.Region_RC, predicted))
    Acc.append(metrics.accuracy_score(testSet.Region_RC, predicted))
max_value = max(Acc)
max_index = Acc.index(max_value)
print('max',max_index)
print('max_val',max_value)
if Acc.index(max_value) == 0: #Crossvalidation is prefered so we're excluding the 1 neighbour value if it's the highest
    Acc.remove(Acc[0])
    max_value = max(Acc)
    max_index = Acc.index(max_value)
    print('max',max_index)
    print('max_val',max_value)

Accuracy: 1 0.9591836734693877
Accuracy: 2 0.8775510204081632
Accuracy: 3 0.8843537414965986
Accuracy: 4 0.8299319727891157
Accuracy: 5 0.8299319727891157
Accuracy: 6 0.7959183673469388
Accuracy: 7 0.7891156462585034
Accuracy: 8 0.7755102040816326
Accuracy: 9 0.782312925170068
Accuracy: 10 0.7687074829931972
Accuracy: 11 0.7959183673469388
Accuracy: 12 0.7551020408163265
Accuracy: 13 0.7687074829931972
Accuracy: 14 0.782312925170068
Accuracy: 15 0.8027210884353742
Accuracy: 16 0.7891156462585034
Accuracy: 17 0.782312925170068
Accuracy: 18 0.7414965986394558
Accuracy: 19 0.7619047619047619
Accuracy: 20 0.7414965986394558
Accuracy: 21 0.7551020408163265
Accuracy: 22 0.7346938775510204
Accuracy: 23 0.7210884353741497
Accuracy: 24 0.7210884353741497
Accuracy: 25 0.7142857142857143
Accuracy: 26 0.7006802721088435
Accuracy: 27 0.6938775510204082
Accuracy: 28 0.6802721088435374
Accuracy: 29 0.6802721088435374
Accuracy: 30 0.673469387755102
Accuracy: 31 0.673469387755102
Accuracy: 32 0.6666666666666666
Accuracy: 33 0.6598639455782312
Accuracy: 34 0.6598639455782312
Accuracy: 35 0.6598639455782312
Accuracy: 36 0.6666666666666666
Accuracy: 37 0.6666666666666666
Accuracy: 38 0.6666666666666666
Accuracy: 39 0.6666666666666666
Accuracy: 40 0.673469387755102
Accuracy: 41 0.673469387755102
Accuracy: 42 0.6666666666666666
Accuracy: 43 0.6666666666666666
Accuracy: 44 0.6666666666666666
Accuracy: 45 0.673469387755102
Accuracy: 46 0.6394557823129252
Accuracy: 47 0.6462585034013606
Accuracy: 48 0.6394557823129252
Accuracy: 49 0.6190476190476191
Accuracy: 50 0.6258503401360545
Accuracy: 51 0.6190476190476191
Accuracy: 52 0.6258503401360545
Accuracy: 53 0.6258503401360545
Accuracy: 54 0.6258503401360545
Accuracy: 55 0.6326530612244898
Accuracy: 56 0.6394557823129252
Accuracy: 57 0.6326530612244898
Accuracy: 58 0.6326530612244898
Accuracy: 59 0.6190476190476191
Accuracy: 60 0.6122448979591837
Accuracy: 61 0.6190476190476191
Accuracy: 62 0.6122448979591837
Accuracy: 63 0.6122448979591837
Accuracy: 64 0.6122448979591837
Accuracy: 65 0.6054421768707483
Accuracy: 66 0.6054421768707483
Accuracy: 67 0.6054421768707483
Accuracy: 68 0.6054421768707483
Accuracy: 69 0.6054421768707483
Accuracy: 70 0.6054421768707483
Accuracy: 71 0.6054421768707483
Accuracy: 72 0.5918367346938775
Accuracy: 73 0.6054421768707483
Accuracy: 74 0.5918367346938775
Accuracy: 75 0.5578231292517006
Accuracy: 76 0.5578231292517006
Accuracy: 77 0.5578231292517006
Accuracy: 78 0.5510204081632653
Accuracy: 79 0.5510204081632653
Accuracy: 80 0.5510204081632653
Accuracy: 81 0.5714285714285714
Accuracy: 82 0.564625850340136
Accuracy: 83 0.5714285714285714
Accuracy: 84 0.5714285714285714
Accuracy: 85 0.5850340136054422
Accuracy: 86 0.5782312925170068
Accuracy: 87 0.5782312925170068
Accuracy: 88 0.5986394557823129
Accuracy: 89 0.6054421768707483
Accuracy: 90 0.6054421768707483
Accuracy: 91 0.6054421768707483
Accuracy: 92 0.6190476190476191
Accuracy: 93 0.6122448979591837
Accuracy: 94 0.6326530612244898
Accuracy: 95 0.6258503401360545
Accuracy: 96 0.6190476190476191
Accuracy: 97 0.6190476190476191
Accuracy: 98 0.6190476190476191
Accuracy: 99 0.6258503401360545
Accuracy: 100 0.6326530612244898
Accuracy: 101 0.6326530612244898
Accuracy: 102 0.6326530612244898
Accuracy: 103 0.6190476190476191
Accuracy: 104 0.6326530612244898
Accuracy: 105 0.6190476190476191
Accuracy: 106 0.6054421768707483
Accuracy: 107 0.6054421768707483
Accuracy: 108 0.6122448979591837
Accuracy: 109 0.6122448979591837
Accuracy: 110 0.6054421768707483
Accuracy: 111 0.5986394557823129
Accuracy: 112 0.5986394557823129
Accuracy: 113 0.5986394557823129
Accuracy: 114 0.5986394557823129
Accuracy: 115 0.5986394557823129
Accuracy: 116 0.5986394557823129
Accuracy: 117 0.5986394557823129
Accuracy: 118 0.5986394557823129
Accuracy: 119 0.5918367346938775
Accuracy: 120 0.5918367346938775
Accuracy: 121 0.5850340136054422
Accuracy: 122 0.5850340136054422
Accuracy: 123 0.5850340136054422
Accuracy: 124 0.5850340136054422
Accuracy: 125 0.5850340136054422
Accuracy: 126 0.5850340136054422
Accuracy: 127 0.5850340136054422
Accuracy: 128 0.5850340136054422
Accuracy: 129 0.5850340136054422
Accuracy: 130 0.5850340136054422
Accuracy: 131 0.5850340136054422
Accuracy: 132 0.5850340136054422
Accuracy: 133 0.5850340136054422
Accuracy: 134 0.5850340136054422
Accuracy: 135 0.5850340136054422
Accuracy: 136 0.5850340136054422
Accuracy: 137 0.5850340136054422
Accuracy: 138 0.5850340136054422
Accuracy: 139 0.5850340136054422
Accuracy: 140 0.5850340136054422
Accuracy: 141 0.5850340136054422
Accuracy: 142 0.5850340136054422
Accuracy: 143 0.5850340136054422
Accuracy: 144 0.5850340136054422
Accuracy: 145 0.5850340136054422
Accuracy: 146 0.5850340136054422
Accuracy: 147 0.5850340136054422
Accuracy: 148 0.5850340136054422
Accuracy: 149 0.5850340136054422
Accuracy: 150 0.5850340136054422
Accuracy: 151 0.5850340136054422
Accuracy: 152 0.5850340136054422
Accuracy: 153 0.5850340136054422
Accuracy: 154 0.5850340136054422
Accuracy: 155 0.5850340136054422
Accuracy: 156 0.5850340136054422
Accuracy: 157 0.5850340136054422
Accuracy: 158 0.5850340136054422
Accuracy: 159 0.5850340136054422
Accuracy: 160 0.5850340136054422
Accuracy: 161 0.5850340136054422
Accuracy: 162 0.5850340136054422
Accuracy: 163 0.5850340136054422
Accuracy: 164 0.5850340136054422
Accuracy: 165 0.5850340136054422
Accuracy: 166 0.5850340136054422
Accuracy: 167 0.5850340136054422
Accuracy: 168 0.5850340136054422
Accuracy: 169 0.5850340136054422
Accuracy: 170 0.5850340136054422
Accuracy: 171 0.5850340136054422
Accuracy: 172 0.5850340136054422
Accuracy: 173 0.5850340136054422
Accuracy: 174 0.5850340136054422
Accuracy: 175 0.5850340136054422
Accuracy: 176 0.5850340136054422
Accuracy: 177 0.5850340136054422
Accuracy: 178 0.5850340136054422
Accuracy: 179 0.5850340136054422
Accuracy: 180 0.5850340136054422
Accuracy: 181 0.5850340136054422
Accuracy: 182 0.5850340136054422
Accuracy: 183 0.5850340136054422
Accuracy: 184 0.5850340136054422
Accuracy: 185 0.5850340136054422
Accuracy: 186 0.5850340136054422
Accuracy: 187 0.5850340136054422
Accuracy: 188 0.5850340136054422
Accuracy: 189 0.5850340136054422
Accuracy: 190 0.5850340136054422
Accuracy: 191 0.5850340136054422
Accuracy: 192 0.5850340136054422
Accuracy: 193 0.5850340136054422
Accuracy: 194 0.5850340136054422
Accuracy: 195 0.5850340136054422
Accuracy: 196 0.5850340136054422
Accuracy: 197 0.5850340136054422
Accuracy: 198 0.5850340136054422
Accuracy: 199 0.5850340136054422
Accuracy: 200 0.5850340136054422
Accuracy: 201 0.5850340136054422
Accuracy: 202 0.5850340136054422
Accuracy: 203 0.5850340136054422
Accuracy: 204 0.5850340136054422
Accuracy: 205 0.5850340136054422
Accuracy: 206 0.5850340136054422
Accuracy: 207 0.5850340136054422
Accuracy: 208 0.5850340136054422
Accuracy: 209 0.5850340136054422
Accuracy: 210 0.5850340136054422
Accuracy: 211 0.5850340136054422
Accuracy: 212 0.5850340136054422
Accuracy: 213 0.5850340136054422
Accuracy: 214 0.5850340136054422
Accuracy: 215 0.5850340136054422
Accuracy: 216 0.5850340136054422
Accuracy: 217 0.5850340136054422
Accuracy: 218 0.5850340136054422
Accuracy: 219 0.5850340136054422
Accuracy: 220 0.5850340136054422
Accuracy: 221 0.5850340136054422
Accuracy: 222 0.5850340136054422
Accuracy: 223 0.5850340136054422
Accuracy: 224 0.5850340136054422
Accuracy: 225 0.5850340136054422
Accuracy: 226 0.5850340136054422
Accuracy: 227 0.5850340136054422
Accuracy: 228 0.5850340136054422
Accuracy: 229 0.5850340136054422
Accuracy: 230 0.5850340136054422
Accuracy: 231 0.5850340136054422
Accuracy: 232 0.5850340136054422
Accuracy: 233 0.5850340136054422
Accuracy: 234 0.5850340136054422
Accuracy: 235 0.5850340136054422
Accuracy: 236 0.5850340136054422
Accuracy: 237 0.5850340136054422
Accuracy: 238 0.5850340136054422
Accuracy: 239 0.5850340136054422
Accuracy: 240 0.5850340136054422
Accuracy: 241 0.5850340136054422
Accuracy: 242 0.5850340136054422
Accuracy: 243 0.5850340136054422
Accuracy: 244 0.5850340136054422
Accuracy: 245 0.5850340136054422
Accuracy: 246 0.5850340136054422
Accuracy: 247 0.5850340136054422
Accuracy: 248 0.5850340136054422
Accuracy: 249 0.5850340136054422
Accuracy: 250 0.5850340136054422
Accuracy: 251 0.5850340136054422
Accuracy: 252 0.5850340136054422

Accuracy: 253 0.5850340136054422
Accuracy: 254 0.5918367346938775
Accuracy: 255 0.5918367346938775
Accuracy: 256 0.5918367346938775
Accuracy: 257 0.5918367346938775
Accuracy: 258 0.5918367346938775
Accuracy: 259 0.5918367346938775
Accuracy: 260 0.5918367346938775
Accuracy: 261 0.5918367346938775
Accuracy: 262 0.5918367346938775
Accuracy: 263 0.5918367346938775
Accuracy: 264 0.5918367346938775
Accuracy: 265 0.5918367346938775
Accuracy: 266 0.5918367346938775
Accuracy: 267 0.5918367346938775
Accuracy: 268 0.5986394557823129
Accuracy: 269 0.6054421768707483
Accuracy: 270 0.5986394557823129
Accuracy: 271 0.6054421768707483
Accuracy: 272 0.5986394557823129
Accuracy: 273 0.6054421768707483
Accuracy: 274 0.6054421768707483
Accuracy: 275 0.6054421768707483
Accuracy: 276 0.6054421768707483
Accuracy: 277 0.5986394557823129
Accuracy: 278 0.5986394557823129
Accuracy: 279 0.6054421768707483
Accuracy: 280 0.6054421768707483
Accuracy: 281 0.6054421768707483
Accuracy: 282 0.6054421768707483
Accuracy: 283 0.5986394557823129
Accuracy: 284 0.5918367346938775
Accuracy: 285 0.5986394557823129
Accuracy: 286 0.5918367346938775
Accuracy: 287 0.5986394557823129
Accuracy: 288 0.5986394557823129
Accuracy: 289 0.5986394557823129
Accuracy: 290 0.5986394557823129
Accuracy: 291 0.5986394557823129
Accuracy: 292 0.5986394557823129
Accuracy: 293 0.5986394557823129
Accuracy: 294 0.5986394557823129
Accuracy: 295 0.5986394557823129
Accuracy: 296 0.5986394557823129
Accuracy: 297 0.5986394557823129
Accuracy: 298 0.5986394557823129
Accuracy: 299 0.5986394557823129
Accuracy: 300 0.5986394557823129
Accuracy: 301 0.5986394557823129
Accuracy: 302 0.5986394557823129
Accuracy: 303 0.5986394557823129
Accuracy: 304 0.5714285714285714
Accuracy: 305 0.5714285714285714
Accuracy: 306 0.5714285714285714
Accuracy: 307 0.5714285714285714
Accuracy: 308 0.5714285714285714
Accuracy: 309 0.5714285714285714
Accuracy: 310 0.5714285714285714
Accuracy: 311 0.5714285714285714
Accuracy: 312 0.5714285714285714
Accuracy: 313 0.5714285714285714
Accuracy: 314 0.5714285714285714
Accuracy: 315 0.5714285714285714
Accuracy: 316 0.5714285714285714
Accuracy: 317 0.5714285714285714
Accuracy: 318 0.5714285714285714
Accuracy: 319 0.5714285714285714
Accuracy: 320 0.5714285714285714
Accuracy: 321 0.5714285714285714
Accuracy: 322 0.5714285714285714
Accuracy: 323 0.5714285714285714
Accuracy: 324 0.5714285714285714
Accuracy: 325 0.5714285714285714
Accuracy: 326 0.5714285714285714
Accuracy: 327 0.5714285714285714
Accuracy: 328 0.5714285714285714
Accuracy: 329 0.5714285714285714
Accuracy: 330 0.5714285714285714
Accuracy: 331 0.5714285714285714
Accuracy: 332 0.5714285714285714
Accuracy: 333 0.5714285714285714
Accuracy: 334 0.5714285714285714
Accuracy: 335 0.5714285714285714
Accuracy: 336 0.5714285714285714
Accuracy: 337 0.5714285714285714
Accuracy: 338 0.5714285714285714
Accuracy: 339 0.5714285714285714
Accuracy: 340 0.5714285714285714
Accuracy: 341 0.5986394557823129
Accuracy: 342 0.5986394557823129
Accuracy: 343 0.5986394557823129
Accuracy: 344 0.5850340136054422
Accuracy: 345 0.5850340136054422
Accuracy: 346 0.5782312925170068
Accuracy: 347 0.5782312925170068
Accuracy: 348 0.5850340136054422
Accuracy: 349 0.5850340136054422
Accuracy: 350 0.5782312925170068
Accuracy: 351 0.5782312925170068
Accuracy: 352 0.5918367346938775
Accuracy: 353 0.5918367346938775
Accuracy: 354 0.5918367346938775
Accuracy: 355 0.5918367346938775
Accuracy: 356 0.6054421768707483
Accuracy: 357 0.6122448979591837
Accuracy: 358 0.6122448979591837
Accuracy: 359 0.6054421768707483
Accuracy: 360 0.6122448979591837
Accuracy: 361 0.6122448979591837
Accuracy: 362 0.6122448979591837
Accuracy: 363 0.6190476190476191
Accuracy: 364 0.6122448979591837
Accuracy: 365 0.6258503401360545
Accuracy: 366 0.6190476190476191
Accuracy: 367 0.6258503401360545
Accuracy: 368 0.6326530612244898
Accuracy: 369 0.6326530612244898
Accuracy: 370 0.6326530612244898
Accuracy: 371 0.6326530612244898
Accuracy: 372 0.6326530612244898
Accuracy: 373 0.6326530612244898
Accuracy: 374 0.6122448979591837
Accuracy: 375 0.6054421768707483
Accuracy: 376 0.6054421768707483
Accuracy: 377 0.6054421768707483
Accuracy: 378 0.6054421768707483
Accuracy: 379 0.6054421768707483
Accuracy: 380 0.6054421768707483
Accuracy: 381 0.6054421768707483
Accuracy: 382 0.6054421768707483
Accuracy: 383 0.6054421768707483
Accuracy: 384 0.6054421768707483
Accuracy: 385 0.6054421768707483
Accuracy: 386 0.6054421768707483
Accuracy: 387 0.6054421768707483
Accuracy: 388 0.6054421768707483
Accuracy: 389 0.6054421768707483
Accuracy: 390 0.6054421768707483
Accuracy: 391 0.6054421768707483
Accuracy: 392 0.6054421768707483
Accuracy: 393 0.6054421768707483
Accuracy: 394 0.6054421768707483
Accuracy: 395 0.6054421768707483
Accuracy: 396 0.6054421768707483
Accuracy: 397 0.6054421768707483
Accuracy: 398 0.5986394557823129
Accuracy: 399 0.5986394557823129
Accuracy: 400 0.5986394557823129
Accuracy: 401 0.6054421768707483
Accuracy: 402 0.6054421768707483
Accuracy: 403 0.6054421768707483
Accuracy: 404 0.6054421768707483
Accuracy: 405 0.6190476190476191
Accuracy: 406 0.6258503401360545
Accuracy: 407 0.6190476190476191
Accuracy: 408 0.6258503401360545
Accuracy: 409 0.6258503401360545
Accuracy: 410 0.6258503401360545
Accuracy: 411 0.5986394557823129
Accuracy: 412 0.6122448979591837
Accuracy: 413 0.6190476190476191
Accuracy: 414 0.5918367346938775
Accuracy: 415 0.5918367346938775
Accuracy: 416 0.5918367346938775
Accuracy: 417 0.5918367346938775
Accuracy: 418 0.5782312925170068
Accuracy: 419 0.5782312925170068
Accuracy: 420 0.5782312925170068
Accuracy: 421 0.5782312925170068
Accuracy: 422 0.5782312925170068
Accuracy: 423 0.5578231292517006
Accuracy: 424 0.5578231292517006
Accuracy: 425 0.5510204081632653
Accuracy: 426 0.5714285714285714
Accuracy: 427 0.564625850340136
Accuracy: 428 0.564625850340136
Accuracy: 429 0.5374149659863946
Accuracy: 430 0.5374149659863946
Accuracy: 431 0.5306122448979592
Accuracy: 432 0.3945578231292517
Accuracy: 433 0.3945578231292517
Accuracy: 434 0.3945578231292517
Accuracy: 435 0.3945578231292517
Accuracy: 436 0.3945578231292517
Accuracy: 437 0.3945578231292517
Accuracy: 438 0.3945578231292517
Accuracy: 439 0.3945578231292517
Accuracy: 440 0.3945578231292517
Accuracy: 441 0.3945578231292517
Accuracy: 442 0.3945578231292517
Accuracy: 443 0.3945578231292517
Accuracy: 444 0.3945578231292517
Accuracy: 445 0.3945578231292517
Accuracy: 446 0.3945578231292517
Accuracy: 447 0.3945578231292517
Accuracy: 448 0.3945578231292517
Accuracy: 449 0.3945578231292517
Accuracy: 450 0.3945578231292517
Accuracy: 451 0.3945578231292517
Accuracy: 452 0.3945578231292517
Accuracy: 453 0.3945578231292517
Accuracy: 454 0.3945578231292517
Accuracy: 455 0.3945578231292517
Accuracy: 456 0.3945578231292517
Accuracy: 457 0.3945578231292517
Accuracy: 458 0.3945578231292517
Accuracy: 459 0.3945578231292517
Accuracy: 460 0.3945578231292517
Accuracy: 461 0.3945578231292517
Accuracy: 462 0.3945578231292517
Accuracy: 463 0.3945578231292517
Accuracy: 464 0.3945578231292517
Accuracy: 465 0.3945578231292517
Accuracy: 466 0.3945578231292517
Accuracy: 467 0.3945578231292517
Accuracy: 468 0.3945578231292517
Accuracy: 469 0.3945578231292517
Accuracy: 470 0.3945578231292517
Accuracy: 471 0.3945578231292517
Accuracy: 472 0.3945578231292517
Accuracy: 473 0.3945578231292517
Accuracy: 474 0.3945578231292517
Accuracy: 475 0.3945578231292517
Accuracy: 476 0.3945578231292517
Accuracy: 477 0.3945578231292517
Accuracy: 478 0.3945578231292517
Accuracy: 479 0.3945578231292517
Accuracy: 480 0.3945578231292517
Accuracy: 481 0.3945578231292517
Accuracy: 482 0.3945578231292517
Accuracy: 483 0.3945578231292517
Accuracy: 484 0.3945578231292517
Accuracy: 485 0.3945578231292517
Accuracy: 486 0.3945578231292517
Accuracy: 487 0.3945578231292517
Accuracy: 488 0.3945578231292517
Accuracy: 489 0.3945578231292517
Accuracy: 490 0.3945578231292517
Accuracy: 491 0.3945578231292517
Accuracy: 492 0.3945578231292517
Accuracy: 493 0.3945578231292517
Accuracy: 494 0.3945578231292517
Accuracy: 495 0.3945578231292517
Accuracy: 496 0.3945578231292517
Accuracy: 497 0.3945578231292517
Accuracy: 498 0.3945578231292517
Accuracy: 499 0.3945578231292517
Accuracy: 500 0.3945578231292517
Accuracy: 501 0.3945578231292517

Accuracy: 502 0.3945578231292517
Accuracy: 503 0.3945578231292517
Accuracy: 504 0.3945578231292517
Accuracy: 505 0.3945578231292517
Accuracy: 506 0.3945578231292517
Accuracy: 507 0.3945578231292517
Accuracy: 508 0.3945578231292517
Accuracy: 509 0.3945578231292517
Accuracy: 510 0.3945578231292517
Accuracy: 511 0.3945578231292517
Accuracy: 512 0.3945578231292517
Accuracy: 513 0.3945578231292517
Accuracy: 514 0.3945578231292517
Accuracy: 515 0.3945578231292517
Accuracy: 516 0.3945578231292517
Accuracy: 517 0.3945578231292517
Accuracy: 518 0.3945578231292517
Accuracy: 519 0.3945578231292517
Accuracy: 520 0.3945578231292517
Accuracy: 521 0.3945578231292517
Accuracy: 522 0.3945578231292517
Accuracy: 523 0.3945578231292517
Accuracy: 524 0.3945578231292517
Accuracy: 525 0.3945578231292517
Accuracy: 526 0.3945578231292517
Accuracy: 527 0.3945578231292517
Accuracy: 528 0.3945578231292517
Accuracy: 529 0.3945578231292517
Accuracy: 530 0.3945578231292517
Accuracy: 531 0.3945578231292517
Accuracy: 532 0.3945578231292517
Accuracy: 533 0.3945578231292517
Accuracy: 534 0.3945578231292517
Accuracy: 535 0.3945578231292517
Accuracy: 536 0.3945578231292517
Accuracy: 537 0.3945578231292517
Accuracy: 538 0.3945578231292517
Accuracy: 539 0.3945578231292517
Accuracy: 540 0.3945578231292517
Accuracy: 541 0.3945578231292517
Accuracy: 542 0.3945578231292517
Accuracy: 543 0.3945578231292517
Accuracy: 544 0.3945578231292517
Accuracy: 545 0.3945578231292517
Accuracy: 546 0.3945578231292517
Accuracy: 547 0.3945578231292517
Accuracy: 548 0.3945578231292517
Accuracy: 549 0.3945578231292517
Accuracy: 550 0.3945578231292517
Accuracy: 551 0.3945578231292517
Accuracy: 552 0.3945578231292517
Accuracy: 553 0.3945578231292517
Accuracy: 554 0.3945578231292517
Accuracy: 555 0.3945578231292517
Accuracy: 556 0.3945578231292517
Accuracy: 557 0.3945578231292517
Accuracy: 558 0.3945578231292517
Accuracy: 559 0.3945578231292517
Accuracy: 560 0.3945578231292517
Accuracy: 561 0.3945578231292517
Accuracy: 562 0.3945578231292517
Accuracy: 563 0.3945578231292517
Accuracy: 564 0.3945578231292517
Accuracy: 565 0.3945578231292517
Accuracy: 566 0.3945578231292517
Accuracy: 567 0.3945578231292517
Accuracy: 568 0.3945578231292517
Accuracy: 569 0.3945578231292517
Accuracy: 570 0.3945578231292517
Accuracy: 571 0.3945578231292517
Accuracy: 572 0.3945578231292517
Accuracy: 573 0.3945578231292517
Accuracy: 574 0.3945578231292517
Accuracy: 575 0.3945578231292517
Accuracy: 576 0.3945578231292517
Accuracy: 577 0.3945578231292517
Accuracy: 578 0.3945578231292517
Accuracy: 579 0.3945578231292517
Accuracy: 580 0.3945578231292517
Accuracy: 581 0.3945578231292517
Accuracy: 582 0.3945578231292517
Accuracy: 583 0.3945578231292517
Accuracy: 584 0.3945578231292517
Accuracy: 585 0.3945578231292517
Accuracy: 586 0.3945578231292517
Accuracy: 587 0.3945578231292517
Accuracy: 588 0.3945578231292517
max 0
max_val 0.9591836734693877
max 1
max_val 0.8843537414965986

In [39]:
model = KNeighborsClassifier(n_neighbors=max_index+1) 
model.fit(features,trainingSet['Region_RC'])
predicted = []
for i in range(len(testSet)):
    income = testSet.iloc[i].Income
    age = testSet.iloc[i].Age
    occupation = testSet.iloc[i].Occupation_RC
    education = testSet.iloc[i].Education_RC
    gender = testSet.iloc[i].Gender_RC
    children = testSet.iloc[i].Children
    cars = testSet.iloc[i].Cars
    MS = testSet.iloc[i].Marital_Status_RC
    home = testSet.iloc[i].Home_Owner_RC
    CD = testSet.iloc[i].Commute_Distance_RC
    predicted.__iadd__(model.predict([[income,age,occupation,education,gender,children,cars,MS,home,CD]])) # 0:Europe, 1:NA,2:Pacific
print("Accuracy:",metrics.accuracy_score(testSet.Region_RC, predicted))
max_value = max(Acc)
max_index = Acc.index(max_value)
print('max',max_index)
print('max_val',max_value)
if Acc.index(max_value) == 0: #Crossvalidation is prefered so we're excluding the 1 neighbour value if it's the highest
    Acc.remove(Acc[0])
    max_value = max(Acc)
    max_index = Acc.index(max_value)
    print('max',max_index)
    print('max_val',max_value)

Accuracy: 0.8775510204081632
max 1
max_val 0.8843537414965986

adding all categories seems to add a bit of accuracy to ~86%

In [40]:
#Filling the missing values
set_region_null

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike,Region_RC
56,40000.0,0,0,NaN,38.0,0,1,0,1,1,1,Yes,0
70,120000.0,0,4,NaN,36.0,0,1,3,2,1,11,Yes,0
280,10000.0,3,2,NaN,43.0,1,0,3,3,1,1,No,0
604,40000.0,0,2,NaN,27.0,0,1,2,0,1,10,No,0

In [41]:
complete_RC[complete_RC['Region'].isna()]

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike
56,40000.0,0,0,NaN,38.0,0,1,0,1,1,1,Yes
70,120000.0,0,4,NaN,36.0,0,1,3,2,1,11,Yes
280,10000.0,3,2,NaN,43.0,1,0,3,3,1,1,No
424,NaN,3,2,NaN,43.0,1,0,3,3,1,1,No
604,40000.0,0,2,NaN,27.0,0,1,2,0,1,10,No

In [42]:
predicted = []
model = KNeighborsClassifier(n_neighbors=2)
model.fit(features,trainingSet['Region_RC'])
for i in range(len(set_region_null)):
    print("i",i)
    print("range",range(len(set_region_null)))
    income = set_region_null.iloc[i].Income
    age = set_region_null.iloc[i].Age
    occupation = set_region_null.iloc[i].Occupation_RC
    education = set_region_null.iloc[i].Education_RC
    gender = set_region_null.iloc[i].Gender_RC
    children = set_region_null.iloc[i].Children
    cars = set_region_null.iloc[i].Cars
    MS = set_region_null.iloc[i].Marital_Status_RC
    home = set_region_null.iloc[i].Home_Owner_RC
    CD = set_region_null.iloc[i].Commute_Distance_RC
    predicted.__iadd__(model.predict([[income,age,occupation,education,gender,children,cars,MS,home,CD]])) # 0:Europe, 1:NA,2:Pacific
    #bikes.at[bikes[bikes['Region_RC'] == 99].index[0],'Region_RC'] = mode_region
    print('pred loc',predicted[i])
    print("predicted",predicted)
    #set_region_null.at.index[i],'Region_RC' = predicted[i]
    set_region_null.at[[set_region_null.index[i]],'Region_RC']= predicted[i] # 0:Europe, 1:NA,2:Pacific

i 0
range range(0, 4)
pred loc 0
predicted [0]
i 1
range range(0, 4)
pred loc 2
predicted [0, 2]
i 2
range range(0, 4)
pred loc 0
predicted [0, 2, 0]
i 3
range range(0, 4)
pred loc 1
predicted [0, 2, 0, 1]

In [43]:
predicted = []
model = KNeighborsClassifier(n_neighbors=2) #2 has the highest accuracy , determined by the next code block
model.fit(features,trainingSet['Region_RC'])
for i in range(len(set_region_null)):
    print("i",i)
    print("range",range(len(set_region_null)))
    income = set_region_null.iloc[i].Income
    age = set_region_null.iloc[i].Age
    occupation = set_region_null.iloc[i].Occupation_RC
    education = set_region_null.iloc[i].Education_RC
    gender = set_region_null.iloc[i].Gender_RC
    children = set_region_null.iloc[i].Children
    cars = set_region_null.iloc[i].Cars
    MS = set_region_null.iloc[i].Marital_Status_RC
    home = set_region_null.iloc[i].Home_Owner_RC
    CD = set_region_null.iloc[i].Commute_Distance_RC
    predicted.__iadd__(model.predict([[income,age,occupation,education,gender,children,cars,MS,home,CD]])) # 0:Europe, 1:NA,2:Pacific
    #bikes.at[bikes[bikes['Region_RC'] == 99].index[0],'Region_RC'] = mode_region
    print('pred loc',predicted[i])
    print("predicted",predicted)
    #set_region_null.at.index[i],'Region_RC' = predicted[i]
    set_region_null.at[[set_region_null.index[i]],'Region_RC']= predicted[i] # 0:Europe, 1:NA,2:Pacific

i 0
range range(0, 4)
pred loc 0
predicted [0]
i 1
range range(0, 4)
pred loc 2
predicted [0, 2]
i 2
range range(0, 4)
pred loc 0
predicted [0, 2, 0]
i 3
range range(0, 4)
pred loc 1
predicted [0, 2, 0, 1]

In [44]:
#before
complete_RC[complete_RC.Region.isna()]

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike
56,40000.0,0,0,NaN,38.0,0,1,0,1,1,1,Yes
70,120000.0,0,4,NaN,36.0,0,1,3,2,1,11,Yes
280,10000.0,3,2,NaN,43.0,1,0,3,3,1,1,No
424,NaN,3,2,NaN,43.0,1,0,3,3,1,1,No
604,40000.0,0,2,NaN,27.0,0,1,2,0,1,10,No

In [45]:
complete_RC['Region'].fillna('Unknown', inplace = True) 
complete_RC['Region_RC'] = complete_RC['Region'].map( {'Europe': 0, 'Pacific': 1,'North America':2,'Unknown':99} ).astype(int)

In [46]:

predicted = []
model = KNeighborsClassifier(n_neighbors=2) #2 has the highest accuracy , determined by the next code block
model.fit(features,trainingSet['Region_RC'])
for i in range(len(complete_RC[complete_RC['Region_RC']==99])):
    print("i",i)
    print("range",range(len(complete_RC[complete_RC['Region_RC']==99])))
    income = complete_RC[complete_RC['Region_RC']==99].iloc[0].Income
    print('income',income)
    age = complete_RC[complete_RC['Region_RC']==99].iloc[0].Age
    occupation = complete_RC[complete_RC['Region_RC']==99].iloc[0].Occupation_RC
    education = complete_RC[complete_RC['Region_RC']==99].iloc[0].Education_RC
    gender = complete_RC[complete_RC['Region_RC']==99].iloc[0].Gender_RC
    children = complete_RC[complete_RC['Region_RC']==99].iloc[0].Children
    cars = complete_RC[complete_RC['Region_RC']==99].iloc[0].Cars
    MS = complete_RC[complete_RC['Region_RC']==99].iloc[0].Marital_Status_RC
    home = complete_RC[complete_RC['Region_RC']==99].iloc[0].Home_Owner_RC
    CD = complete_RC[complete_RC['Region_RC']==99].iloc[0].Commute_Distance_RC
    predicted.__iadd__(model.predict([[income,age,occupation,education,gender,children,cars,MS,home,CD]])) # 0:Europe, 1:NA,2:Pacific
    #print('pred loc',predicted[i])
    print("predicted",predicted)
    #set_region_null.at.index[i],'Region_RC' = predicted[i]

for i in range(len(predicted)):
    print("i",i)
    complete_RC.at[complete_RC[complete_RC['Region_RC']==99].index[0],'Region_RC']= predicted[i] # 0:Europe, 1:NA,2:Pacific
    #bikes.at[bikes[bikes['Region_RC'] == 99].index[0],'Region_RC'] = mode_region

i 0
range range(0, 5)
income 40000.0
predicted [0]
i 1
range range(0, 5)
income 40000.0
predicted [0, 0]
i 2
range range(0, 5)
income 40000.0
predicted [0, 0, 0]
i 3
range range(0, 5)
income 40000.0
predicted [0, 0, 0, 0]
i 4
range range(0, 5)
income 40000.0
predicted [0, 0, 0, 0, 0]
i 0
i 1
i 2
i 3
i 4

In [47]:
#predicted
len(complete_RC[complete_RC['Region_RC']==99])

0

In [48]:
#after
complete_RC[complete_RC['Region_RC']==99]

Empty DataFrame
Columns: [Income, Children, Cars, Region, Age, Marital_Status_RC, Gender_RC, Education_RC, Occupation_RC, Home_Owner_RC, Commute_Distance_RC, Purchased Bike, Region_RC]
Index: []

# Age
Split the null and not null values

variables (Home Owner, Gender, Marital Status, Cars, Education,Children)

In [49]:
complete_RC[complete_RC['Age'].isna()]

,Income,Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,Commute_Distance_RC,Purchased Bike,Region_RC
98,40000.0,0,0,Europe,NaN,1,1,4,1,1,1,Yes,0
196,50000.0,0,0,Europe,NaN,1,0,4,0,1,2,No,0
292,40000.0,1,0,Europe,NaN,0,0,0,0,1,1,Yes,0
322,10000.0,4,2,Europe,NaN,1,0,3,3,1,1,Yes,0
324,90000.0,4,0,Pacific,NaN,0,1,0,2,1,2,Yes,1
423,NaN,0,1,Europe,NaN,1,1,2,3,1,5,Yes,0
537,40000.0,1,1,North America,NaN,0,0,1,1,1,2,Yes,2
732,60000.0,0,1,North America,NaN,1,0,4,2,1,5,Yes,2
853,60000.0,1,0,North America,NaN,1,1,4,2,1,5,NaN,2
884,80000.0,4,2,North America,NaN,0,1,4,4,1,10,NaN,2
992,90000.0,2,0,North America,NaN,0,1,1,2,0,10,NaN,2

In [50]:
complete_RC_isnull = complete_RC[complete_RC['Purchased Bike'].isnull()]
complete_RC_notnull = complete_RC[complete_RC['Purchased Bike'].notnull()]
set_age_notnull = complete_RC_notnull[complete_RC_notnull['Age'].notnull()]
set_age_null = complete_RC_notnull[complete_RC_notnull['Age'].isnull()]
print(len(set_age_notnull),len(set_age_null))

800 8

In [51]:
set_age_notnull['Region'].unique()

array(['Europe', 'Pacific', 'Unknown', 'North America'], dtype=object)

In [52]:
set_age_null = set_age_null[set_age_null['Income'].notnull()]
set_age_notnull = set_age_notnull[set_age_notnull['Income'].notnull()]
set_age_null = set_age_null[set_age_null['Age'].notnull()]
set_age_notnull = set_age_notnull[set_age_notnull['Age'].notnull()]

set_age_null['Region_RC'] = le.fit_transform(set_age_null['Region'])
set_age_notnull['Region_RC'] = le.fit_transform(set_age_notnull['Region'])

from sklearn.model_selection import train_test_split
trainingSet, testSet = train_test_split(set_age_notnull, test_size=0.2)
print('trainingSet',len(trainingSet),'testSet',len(testSet))

trainingSet 591 testSet 148

In [53]:
features=list(zip(trainingSet['Income'],trainingSet['Occupation_RC'],trainingSet['Region_RC'],trainingSet['Education_RC'],trainingSet['Gender_RC'],trainingSet['Children'],trainingSet['Cars'],trainingSet['Marital_Status_RC'],trainingSet['Home_Owner_RC']))

In [54]:
model = KNeighborsClassifier(n_neighbors=2) #2 has the highest accuracy , determined by the next code block
model.fit(features,trainingSet['Age'])
predicted = []
for i in range(len(testSet)):
    income = testSet.iloc[i].Income
    occupation = testSet.iloc[i].Occupation_RC
    region = testSet.iloc[i].Region_RC
    education = testSet.iloc[i].Education_RC
    gender = testSet.iloc[i].Gender_RC
    children = testSet.iloc[i].Children
    cars = testSet.iloc[i].Cars
    MS = testSet.iloc[i].Marital_Status_RC
    home = testSet.iloc[i].Home_Owner_RC
    predicted.__iadd__(model.predict([[income,region,occupation,education,gender,children,cars,MS,home]])) # 0:Europe, 1:NA,2:Pacific
print("Accuracy:",metrics.accuracy_score(testSet.Age, predicted))

Accuracy: 0.10810810810810811

The accuracy provided is only ~12% but thus might be due to the ages beinig too specific. lets recast them into categories of 5 years and see where that leads to.

In [55]:
#show minimal value
set_age_notnull['Age'].unique().min()

25.0

In [56]:
#show maximum value
set_age_notnull['Age'].unique().max()

89.0

In [57]:
set_age_notnull['Age_Cat']=set_age_notnull['Age'].astype(int)

In [58]:
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([25,26,27,28,29], '25-29')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([30,31,32,33,34], '30-34')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([35,36,37,38,39], '35-39')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([40,41,42,43,44], '40-44')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([45,46,47,48,49], '45-49')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([50,51,52,53,54], '50-54')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([55,56,57,58,59], '55-59')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([60,61,62,63,64], '60-64')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([65,66,67,68,69], '65-69')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([70,71,72,73,74], '70-74')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([75,76,77,78,79], '75-79')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([80,81,82,83,84], '80-84')
set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].replace([85,86,87,88,89], '85-89')

set_age_notnull['Age_Cat'] = set_age_notnull['Age_Cat'].map( {'25-29': 25, '30-34': 30, '35-39': 35, '40-44': 40, '45-49': 45, '50-54': 50,'55-59':55,'60-64':60,'65-69':65,'70-74':70,'75-79':75,'80-84':80,'85-89':85} ).astype(int)

In [59]:
set_age_notnull['Age_Cat'].unique()

array([40, 60, 35, 50, 30, 55, 45, 25, 65, 70, 75, 85, 80])

In [60]:
from sklearn.model_selection import train_test_split
trainingSet, testSet = train_test_split(set_age_notnull, test_size=0.2)
print('trainingSet',len(trainingSet),'testSet',len(testSet))

trainingSet 591 testSet 148

In [61]:
trainingSet['Age_Cat'].unique()

array([50, 30, 65, 40, 35, 45, 25, 55, 60, 70, 80, 75])

In [62]:
testSet['Age_Cat'].unique()

array([60, 45, 35, 30, 65, 50, 40, 55, 25, 85, 70])

In [63]:
print('trainingSet',len(trainingSet['Age_Cat'].unique()),'testSet',len(testSet['Age_Cat'].unique()))

trainingSet 12 testSet 11

In [64]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
model = KNeighborsClassifier(n_neighbors=2) #2 has the highest accuracy , determined by the next code block
model.fit(features,trainingSet['Age_Cat'])
predicted = []
for i in range(len(testSet)):
    income = testSet.iloc[i].Income
    region = testSet.iloc[i].Region_RC
    occupation = testSet.iloc[i].Occupation_RC
    education = testSet.iloc[i].Education_RC
    gender = testSet.iloc[i].Gender_RC
    children = testSet.iloc[i].Children
    cars = testSet.iloc[i].Cars
    MS = testSet.iloc[i].Marital_Status_RC
    home = testSet.iloc[i].Home_Owner_RC
    predicted.__iadd__(model.predict([[income,region,occupation,education,gender,children,cars,MS,home]])) # 0:Europe, 1:NA,2:Pacific
print("Accuracy:",metrics.accuracy_score(testSet.Age_Cat, predicted))

Accuracy: 0.10810810810810811

we've jumped to ~14% , what happens of we increase the ranges of the ages?

In [65]:
set_age_notnull['Age_Cat2']=set_age_notnull['Age'].astype(int)

In [66]:
set_age_notnull['Age_Cat2'] = set_age_notnull['Age_Cat2'].replace([25,26,27,28,29,30,31,32,33,34], '25-34')
set_age_notnull['Age_Cat2'] = set_age_notnull['Age_Cat2'].replace([35,36,37,38,39,40,41,42,43,44], '35-44')
set_age_notnull['Age_Cat2'] = set_age_notnull['Age_Cat2'].replace([45,46,47,48,49,50,51,52,53,54], '45-54')
set_age_notnull['Age_Cat2'] = set_age_notnull['Age_Cat2'].replace([55,56,57,58,59,60,61,62,63,64], '55-64')
set_age_notnull['Age_Cat2'] = set_age_notnull['Age_Cat2'].replace([65,66,67,68,69,70,71,72,73,74], '65-74')
set_age_notnull['Age_Cat2'] = set_age_notnull['Age_Cat2'].replace([75,76,77,78,79,80,81,82,83,84], '75-84')
set_age_notnull['Age_Cat2'] = set_age_notnull['Age_Cat2'].replace([85,86,87,88,89], '85-89')

set_age_notnull['Age_Cat2'] = set_age_notnull['Age_Cat2'].map( {'25-34': 34, '35-44': 44, '45-54': 54, '55-64': 64, '65-74': 74, '75-84': 84,'85-89':89} ).astype(int)

In [67]:
set_age_notnull['Age_Cat2'].unique()

array([44, 64, 54, 34, 74, 84, 89])

In [68]:
from sklearn.model_selection import train_test_split
trainingSet, testSet = train_test_split(set_age_notnull, test_size=0.2)
print('trainingSet',len(trainingSet),'testSet',len(testSet))

trainingSet 591 testSet 148

In [69]:
Acc = []
for x in range(len(trainingSet)):
    model = KNeighborsClassifier(n_neighbors=x+1)
    model.fit(features,trainingSet['Age_Cat2'])
    
    predicted = []
    for i in range(len(testSet)):
        income = testSet.iloc[i].Income
        region = testSet.iloc[i].Region_RC
        occupation = testSet.iloc[i].Occupation_RC
        education = testSet.iloc[i].Education_RC
        gender = testSet.iloc[i].Gender_RC
        children = testSet.iloc[i].Children
        cars = testSet.iloc[i].Cars
        MS = testSet.iloc[i].Marital_Status_RC
        home = testSet.iloc[i].Home_Owner_RC
        predicted.__iadd__(model.predict([[income,region,occupation,education,gender,children,cars,MS,home]])) # 0:Europe, 1:NA,2:Pacific
    print("Accuracy:",x+1,metrics.accuracy_score(testSet.Age_Cat2, predicted))
    Acc.append(metrics.accuracy_score(testSet.Age_Cat2, predicted))
max_value = max(Acc)
max_index = Acc.index(max_value)
print('max',max_index)
print('max_val',max_value)
if Acc.index(max_value) == 0: #Crossvalidation is prefered so we're excluding the 1 neighbour value if it's the highest
    Acc.remove(Acc[0])
    max_value = max(Acc)
    max_index = Acc.index(max_value)
    print('max',max_index)
    print('max_val',max_value)

Accuracy: 1 0.27702702702702703
Accuracy: 2 0.25675675675675674
Accuracy: 3 0.2635135135135135
Accuracy: 4 0.31756756756756754
Accuracy: 5 0.33783783783783783
Accuracy: 6 0.2972972972972973
Accuracy: 7 0.24324324324324326
Accuracy: 8 0.28378378378378377
Accuracy: 9 0.2635135135135135
Accuracy: 10 0.25
Accuracy: 11 0.28378378378378377
Accuracy: 12 0.28378378378378377
Accuracy: 13 0.32432432432432434
Accuracy: 14 0.2905405405405405
Accuracy: 15 0.2972972972972973
Accuracy: 16 0.2905405405405405
Accuracy: 17 0.3108108108108108
Accuracy: 18 0.27702702702702703
Accuracy: 19 0.23648648648648649
Accuracy: 20 0.2905405405405405
Accuracy: 21 0.30405405405405406
Accuracy: 22 0.3310810810810811
Accuracy: 23 0.3108108108108108
Accuracy: 24 0.3310810810810811
Accuracy: 25 0.28378378378378377
Accuracy: 26 0.35135135135135137
Accuracy: 27 0.30405405405405406
Accuracy: 28 0.3108108108108108
Accuracy: 29 0.2972972972972973
Accuracy: 30 0.30405405405405406
Accuracy: 31 0.3310810810810811
Accuracy: 32 0.2905405405405405
Accuracy: 33 0.2972972972972973
Accuracy: 34 0.2972972972972973
Accuracy: 35 0.3108108108108108
Accuracy: 36 0.2905405405405405
Accuracy: 37 0.28378378378378377
Accuracy: 38 0.2972972972972973
Accuracy: 39 0.27702702702702703
Accuracy: 40 0.32432432432432434
Accuracy: 41 0.2702702702702703
Accuracy: 42 0.2702702702702703
Accuracy: 43 0.27702702702702703
Accuracy: 44 0.27702702702702703
Accuracy: 45 0.25675675675675674
Accuracy: 46 0.28378378378378377
Accuracy: 47 0.2905405405405405
Accuracy: 48 0.27702702702702703
Accuracy: 49 0.25
Accuracy: 50 0.27702702702702703
Accuracy: 51 0.2702702702702703
Accuracy: 52 0.27702702702702703
Accuracy: 53 0.2972972972972973
Accuracy: 54 0.2905405405405405
Accuracy: 55 0.3108108108108108
Accuracy: 56 0.2905405405405405
Accuracy: 57 0.31756756756756754
Accuracy: 58 0.3108108108108108
Accuracy: 59 0.31756756756756754
Accuracy: 60 0.33783783783783783
Accuracy: 61 0.32432432432432434
Accuracy: 62 0.32432432432432434
Accuracy: 63 0.33783783783783783
Accuracy: 64 0.32432432432432434
Accuracy: 65 0.32432432432432434
Accuracy: 66 0.3310810810810811
Accuracy: 67 0.3310810810810811
Accuracy: 68 0.3310810810810811
Accuracy: 69 0.33783783783783783
Accuracy: 70 0.3310810810810811
Accuracy: 71 0.3310810810810811
Accuracy: 72 0.3310810810810811
Accuracy: 73 0.33783783783783783
Accuracy: 74 0.3310810810810811
Accuracy: 75 0.33783783783783783
Accuracy: 76 0.32432432432432434
Accuracy: 77 0.32432432432432434
Accuracy: 78 0.33783783783783783
Accuracy: 79 0.3310810810810811
Accuracy: 80 0.3310810810810811
Accuracy: 81 0.3310810810810811
Accuracy: 82 0.34459459459459457
Accuracy: 83 0.34459459459459457
Accuracy: 84 0.34459459459459457
Accuracy: 85 0.34459459459459457
Accuracy: 86 0.3310810810810811
Accuracy: 87 0.32432432432432434
Accuracy: 88 0.33783783783783783
Accuracy: 89 0.31756756756756754
Accuracy: 90 0.33783783783783783
Accuracy: 91 0.33783783783783783
Accuracy: 92 0.3310810810810811
Accuracy: 93 0.33783783783783783
Accuracy: 94 0.33783783783783783
Accuracy: 95 0.33783783783783783
Accuracy: 96 0.32432432432432434
Accuracy: 97 0.33783783783783783
Accuracy: 98 0.31756756756756754
Accuracy: 99 0.3108108108108108
Accuracy: 100 0.3108108108108108
Accuracy: 101 0.32432432432432434
Accuracy: 102 0.31756756756756754
Accuracy: 103 0.3108108108108108
Accuracy: 104 0.32432432432432434
Accuracy: 105 0.31756756756756754
Accuracy: 106 0.3310810810810811
Accuracy: 107 0.34459459459459457
Accuracy: 108 0.33783783783783783
Accuracy: 109 0.35135135135135137
Accuracy: 110 0.35135135135135137
Accuracy: 111 0.3581081081081081
Accuracy: 112 0.3581081081081081
Accuracy: 113 0.35135135135135137
Accuracy: 114 0.34459459459459457
Accuracy: 115 0.35135135135135137
Accuracy: 116 0.3581081081081081
Accuracy: 117 0.3581081081081081
Accuracy: 118 0.36486486486486486
Accuracy: 119 0.36486486486486486
Accuracy: 120 0.3581081081081081
Accuracy: 121 0.36486486486486486
Accuracy: 122 0.3581081081081081
Accuracy: 123 0.36486486486486486
Accuracy: 124 0.3783783783783784
Accuracy: 125 0.36486486486486486
Accuracy: 126 0.36486486486486486
Accuracy: 127 0.3716216216216216
Accuracy: 128 0.36486486486486486
Accuracy: 129 0.36486486486486486
Accuracy: 130 0.36486486486486486
Accuracy: 131 0.3581081081081081
Accuracy: 132 0.36486486486486486
Accuracy: 133 0.3581081081081081
Accuracy: 134 0.3581081081081081
Accuracy: 135 0.36486486486486486
Accuracy: 136 0.36486486486486486
Accuracy: 137 0.36486486486486486
Accuracy: 138 0.36486486486486486
Accuracy: 139 0.36486486486486486
Accuracy: 140 0.36486486486486486
Accuracy: 141 0.36486486486486486
Accuracy: 142 0.36486486486486486
Accuracy: 143 0.36486486486486486
Accuracy: 144 0.36486486486486486
Accuracy: 145 0.36486486486486486
Accuracy: 146 0.36486486486486486
Accuracy: 147 0.36486486486486486
Accuracy: 148 0.36486486486486486
Accuracy: 149 0.36486486486486486
Accuracy: 150 0.36486486486486486
Accuracy: 151 0.36486486486486486
Accuracy: 152 0.36486486486486486
Accuracy: 153 0.36486486486486486
Accuracy: 154 0.36486486486486486
Accuracy: 155 0.36486486486486486
Accuracy: 156 0.36486486486486486
Accuracy: 157 0.36486486486486486
Accuracy: 158 0.36486486486486486
Accuracy: 159 0.36486486486486486
Accuracy: 160 0.36486486486486486
Accuracy: 161 0.36486486486486486
Accuracy: 162 0.36486486486486486
Accuracy: 163 0.36486486486486486
Accuracy: 164 0.36486486486486486
Accuracy: 165 0.36486486486486486
Accuracy: 166 0.36486486486486486
Accuracy: 167 0.36486486486486486
Accuracy: 168 0.36486486486486486
Accuracy: 169 0.36486486486486486
Accuracy: 170 0.36486486486486486
Accuracy: 171 0.36486486486486486
Accuracy: 172 0.36486486486486486
Accuracy: 173 0.36486486486486486
Accuracy: 174 0.36486486486486486
Accuracy: 175 0.36486486486486486
Accuracy: 176 0.36486486486486486
Accuracy: 177 0.36486486486486486
Accuracy: 178 0.36486486486486486
Accuracy: 179 0.36486486486486486
Accuracy: 180 0.36486486486486486
Accuracy: 181 0.36486486486486486
Accuracy: 182 0.36486486486486486
Accuracy: 183 0.36486486486486486
Accuracy: 184 0.36486486486486486
Accuracy: 185 0.36486486486486486
Accuracy: 186 0.36486486486486486
Accuracy: 187 0.36486486486486486
Accuracy: 188 0.36486486486486486
Accuracy: 189 0.36486486486486486
Accuracy: 190 0.36486486486486486
Accuracy: 191 0.36486486486486486
Accuracy: 192 0.36486486486486486
Accuracy: 193 0.36486486486486486
Accuracy: 194 0.36486486486486486
Accuracy: 195 0.36486486486486486
Accuracy: 196 0.36486486486486486
Accuracy: 197 0.36486486486486486
Accuracy: 198 0.36486486486486486
Accuracy: 199 0.36486486486486486
Accuracy: 200 0.36486486486486486
Accuracy: 201 0.36486486486486486
Accuracy: 202 0.36486486486486486
Accuracy: 203 0.36486486486486486
Accuracy: 204 0.36486486486486486
Accuracy: 205 0.36486486486486486
Accuracy: 206 0.36486486486486486
Accuracy: 207 0.36486486486486486
Accuracy: 208 0.36486486486486486
Accuracy: 209 0.36486486486486486
Accuracy: 210 0.36486486486486486
Accuracy: 211 0.36486486486486486
Accuracy: 212 0.36486486486486486
Accuracy: 213 0.36486486486486486
Accuracy: 214 0.36486486486486486
Accuracy: 215 0.36486486486486486
Accuracy: 216 0.36486486486486486
Accuracy: 217 0.36486486486486486
Accuracy: 218 0.36486486486486486
Accuracy: 219 0.36486486486486486
Accuracy: 220 0.36486486486486486
Accuracy: 221 0.36486486486486486
Accuracy: 222 0.36486486486486486
Accuracy: 223 0.36486486486486486
Accuracy: 224 0.36486486486486486
Accuracy: 225 0.36486486486486486
Accuracy: 226 0.36486486486486486
Accuracy: 227 0.36486486486486486
Accuracy: 228 0.36486486486486486
Accuracy: 229 0.36486486486486486
Accuracy: 230 0.36486486486486486
Accuracy: 231 0.36486486486486486
Accuracy: 232 0.36486486486486486
Accuracy: 233 0.36486486486486486
Accuracy: 234 0.36486486486486486
Accuracy: 235 0.36486486486486486
Accuracy: 236 0.36486486486486486
Accuracy: 237 0.36486486486486486
Accuracy: 238 0.36486486486486486
Accuracy: 239 0.36486486486486486
Accuracy: 240 0.36486486486486486
Accuracy: 241 0.36486486486486486
Accuracy: 242 0.36486486486486486
Accuracy: 243 0.36486486486486486
Accuracy: 244 0.36486486486486486
Accuracy: 245 0.36486486486486486
Accuracy: 246 0.36486486486486486
Accuracy: 247 0.36486486486486486

Accuracy: 248 0.36486486486486486
Accuracy: 249 0.36486486486486486
Accuracy: 250 0.36486486486486486
Accuracy: 251 0.36486486486486486
Accuracy: 252 0.36486486486486486
Accuracy: 253 0.36486486486486486
Accuracy: 254 0.36486486486486486
Accuracy: 255 0.36486486486486486
Accuracy: 256 0.36486486486486486
Accuracy: 257 0.36486486486486486
Accuracy: 258 0.36486486486486486
Accuracy: 259 0.36486486486486486
Accuracy: 260 0.36486486486486486
Accuracy: 261 0.36486486486486486
Accuracy: 262 0.36486486486486486
Accuracy: 263 0.36486486486486486
Accuracy: 264 0.36486486486486486
Accuracy: 265 0.36486486486486486
Accuracy: 266 0.36486486486486486
Accuracy: 267 0.36486486486486486
Accuracy: 268 0.36486486486486486
Accuracy: 269 0.36486486486486486
Accuracy: 270 0.36486486486486486
Accuracy: 271 0.36486486486486486
Accuracy: 272 0.36486486486486486
Accuracy: 273 0.36486486486486486
Accuracy: 274 0.36486486486486486
Accuracy: 275 0.36486486486486486
Accuracy: 276 0.36486486486486486
Accuracy: 277 0.36486486486486486
Accuracy: 278 0.36486486486486486
Accuracy: 279 0.36486486486486486
Accuracy: 280 0.36486486486486486
Accuracy: 281 0.36486486486486486
Accuracy: 282 0.36486486486486486
Accuracy: 283 0.36486486486486486
Accuracy: 284 0.36486486486486486
Accuracy: 285 0.36486486486486486
Accuracy: 286 0.36486486486486486
Accuracy: 287 0.36486486486486486
Accuracy: 288 0.36486486486486486
Accuracy: 289 0.36486486486486486
Accuracy: 290 0.36486486486486486
Accuracy: 291 0.36486486486486486
Accuracy: 292 0.36486486486486486
Accuracy: 293 0.36486486486486486
Accuracy: 294 0.36486486486486486
Accuracy: 295 0.36486486486486486
Accuracy: 296 0.36486486486486486
Accuracy: 297 0.36486486486486486
Accuracy: 298 0.36486486486486486
Accuracy: 299 0.36486486486486486
Accuracy: 300 0.36486486486486486
Accuracy: 301 0.36486486486486486
Accuracy: 302 0.36486486486486486
Accuracy: 303 0.36486486486486486
Accuracy: 304 0.36486486486486486
Accuracy: 305 0.36486486486486486
Accuracy: 306 0.36486486486486486
Accuracy: 307 0.36486486486486486
Accuracy: 308 0.36486486486486486
Accuracy: 309 0.36486486486486486
Accuracy: 310 0.36486486486486486
Accuracy: 311 0.36486486486486486
Accuracy: 312 0.36486486486486486
Accuracy: 313 0.36486486486486486
Accuracy: 314 0.36486486486486486
Accuracy: 315 0.36486486486486486
Accuracy: 316 0.36486486486486486
Accuracy: 317 0.36486486486486486
Accuracy: 318 0.36486486486486486
Accuracy: 319 0.36486486486486486
Accuracy: 320 0.36486486486486486
Accuracy: 321 0.36486486486486486
Accuracy: 322 0.36486486486486486
Accuracy: 323 0.36486486486486486
Accuracy: 324 0.36486486486486486
Accuracy: 325 0.36486486486486486
Accuracy: 326 0.36486486486486486
Accuracy: 327 0.36486486486486486
Accuracy: 328 0.36486486486486486
Accuracy: 329 0.36486486486486486
Accuracy: 330 0.36486486486486486
Accuracy: 331 0.36486486486486486
Accuracy: 332 0.36486486486486486
Accuracy: 333 0.36486486486486486
Accuracy: 334 0.36486486486486486
Accuracy: 335 0.36486486486486486
Accuracy: 336 0.36486486486486486
Accuracy: 337 0.36486486486486486
Accuracy: 338 0.36486486486486486
Accuracy: 339 0.36486486486486486
Accuracy: 340 0.36486486486486486
Accuracy: 341 0.36486486486486486
Accuracy: 342 0.36486486486486486
Accuracy: 343 0.36486486486486486
Accuracy: 344 0.36486486486486486
Accuracy: 345 0.36486486486486486
Accuracy: 346 0.36486486486486486
Accuracy: 347 0.36486486486486486
Accuracy: 348 0.36486486486486486
Accuracy: 349 0.36486486486486486
Accuracy: 350 0.36486486486486486
Accuracy: 351 0.36486486486486486
Accuracy: 352 0.36486486486486486
Accuracy: 353 0.36486486486486486
Accuracy: 354 0.36486486486486486
Accuracy: 355 0.36486486486486486
Accuracy: 356 0.36486486486486486
Accuracy: 357 0.36486486486486486
Accuracy: 358 0.36486486486486486
Accuracy: 359 0.36486486486486486
Accuracy: 360 0.36486486486486486
Accuracy: 361 0.36486486486486486
Accuracy: 362 0.36486486486486486
Accuracy: 363 0.36486486486486486
Accuracy: 364 0.36486486486486486
Accuracy: 365 0.36486486486486486
Accuracy: 366 0.36486486486486486
Accuracy: 367 0.36486486486486486
Accuracy: 368 0.36486486486486486
Accuracy: 369 0.36486486486486486
Accuracy: 370 0.36486486486486486
Accuracy: 371 0.36486486486486486
Accuracy: 372 0.36486486486486486
Accuracy: 373 0.36486486486486486
Accuracy: 374 0.36486486486486486
Accuracy: 375 0.36486486486486486
Accuracy: 376 0.36486486486486486
Accuracy: 377 0.36486486486486486
Accuracy: 378 0.36486486486486486
Accuracy: 379 0.36486486486486486
Accuracy: 380 0.36486486486486486
Accuracy: 381 0.36486486486486486
Accuracy: 382 0.36486486486486486
Accuracy: 383 0.36486486486486486
Accuracy: 384 0.36486486486486486
Accuracy: 385 0.36486486486486486
Accuracy: 386 0.36486486486486486
Accuracy: 387 0.36486486486486486
Accuracy: 388 0.36486486486486486
Accuracy: 389 0.36486486486486486
Accuracy: 390 0.36486486486486486
Accuracy: 391 0.36486486486486486
Accuracy: 392 0.36486486486486486
Accuracy: 393 0.36486486486486486
Accuracy: 394 0.36486486486486486
Accuracy: 395 0.36486486486486486
Accuracy: 396 0.36486486486486486
Accuracy: 397 0.36486486486486486
Accuracy: 398 0.36486486486486486
Accuracy: 399 0.36486486486486486
Accuracy: 400 0.36486486486486486
Accuracy: 401 0.36486486486486486
Accuracy: 402 0.36486486486486486
Accuracy: 403 0.36486486486486486
Accuracy: 404 0.36486486486486486
Accuracy: 405 0.36486486486486486
Accuracy: 406 0.36486486486486486
Accuracy: 407 0.36486486486486486
Accuracy: 408 0.36486486486486486
Accuracy: 409 0.36486486486486486
Accuracy: 410 0.36486486486486486
Accuracy: 411 0.36486486486486486
Accuracy: 412 0.36486486486486486
Accuracy: 413 0.36486486486486486
Accuracy: 414 0.36486486486486486
Accuracy: 415 0.36486486486486486
Accuracy: 416 0.36486486486486486
Accuracy: 417 0.36486486486486486
Accuracy: 418 0.36486486486486486
Accuracy: 419 0.36486486486486486
Accuracy: 420 0.36486486486486486
Accuracy: 421 0.36486486486486486
Accuracy: 422 0.36486486486486486
Accuracy: 423 0.36486486486486486
Accuracy: 424 0.36486486486486486
Accuracy: 425 0.36486486486486486
Accuracy: 426 0.36486486486486486
Accuracy: 427 0.36486486486486486
Accuracy: 428 0.36486486486486486
Accuracy: 429 0.36486486486486486
Accuracy: 430 0.36486486486486486
Accuracy: 431 0.36486486486486486
Accuracy: 432 0.36486486486486486
Accuracy: 433 0.36486486486486486
Accuracy: 434 0.36486486486486486
Accuracy: 435 0.36486486486486486
Accuracy: 436 0.36486486486486486
Accuracy: 437 0.36486486486486486
Accuracy: 438 0.36486486486486486
Accuracy: 439 0.36486486486486486
Accuracy: 440 0.36486486486486486
Accuracy: 441 0.36486486486486486
Accuracy: 442 0.36486486486486486
Accuracy: 443 0.36486486486486486
Accuracy: 444 0.36486486486486486
Accuracy: 445 0.36486486486486486
Accuracy: 446 0.36486486486486486
Accuracy: 447 0.36486486486486486
Accuracy: 448 0.36486486486486486
Accuracy: 449 0.36486486486486486
Accuracy: 450 0.36486486486486486
Accuracy: 451 0.36486486486486486
Accuracy: 452 0.36486486486486486
Accuracy: 453 0.36486486486486486
Accuracy: 454 0.36486486486486486
Accuracy: 455 0.36486486486486486
Accuracy: 456 0.36486486486486486
Accuracy: 457 0.36486486486486486
Accuracy: 458 0.36486486486486486
Accuracy: 459 0.36486486486486486
Accuracy: 460 0.36486486486486486
Accuracy: 461 0.36486486486486486
Accuracy: 462 0.36486486486486486
Accuracy: 463 0.36486486486486486
Accuracy: 464 0.36486486486486486
Accuracy: 465 0.36486486486486486
Accuracy: 466 0.36486486486486486
Accuracy: 467 0.36486486486486486
Accuracy: 468 0.36486486486486486
Accuracy: 469 0.36486486486486486
Accuracy: 470 0.36486486486486486
Accuracy: 471 0.36486486486486486
Accuracy: 472 0.36486486486486486
Accuracy: 473 0.36486486486486486
Accuracy: 474 0.36486486486486486
Accuracy: 475 0.36486486486486486
Accuracy: 476 0.36486486486486486
Accuracy: 477 0.36486486486486486
Accuracy: 478 0.36486486486486486
Accuracy: 479 0.36486486486486486
Accuracy: 480 0.36486486486486486
Accuracy: 481 0.36486486486486486
Accuracy: 482 0.36486486486486486
Accuracy: 483 0.36486486486486486
Accuracy: 484 0.36486486486486486
Accuracy: 485 0.36486486486486486
Accuracy: 486 0.36486486486486486
Accuracy: 487 0.36486486486486486
Accuracy: 488 0.36486486486486486

Accuracy: 489 0.36486486486486486
Accuracy: 490 0.36486486486486486
Accuracy: 491 0.36486486486486486
Accuracy: 492 0.36486486486486486
Accuracy: 493 0.36486486486486486
Accuracy: 494 0.36486486486486486
Accuracy: 495 0.36486486486486486
Accuracy: 496 0.36486486486486486
Accuracy: 497 0.36486486486486486
Accuracy: 498 0.36486486486486486
Accuracy: 499 0.36486486486486486
Accuracy: 500 0.36486486486486486
Accuracy: 501 0.36486486486486486
Accuracy: 502 0.36486486486486486
Accuracy: 503 0.36486486486486486
Accuracy: 504 0.36486486486486486
Accuracy: 505 0.36486486486486486
Accuracy: 506 0.36486486486486486
Accuracy: 507 0.36486486486486486
Accuracy: 508 0.36486486486486486
Accuracy: 509 0.36486486486486486
Accuracy: 510 0.36486486486486486
Accuracy: 511 0.36486486486486486
Accuracy: 512 0.36486486486486486
Accuracy: 513 0.36486486486486486
Accuracy: 514 0.36486486486486486
Accuracy: 515 0.36486486486486486
Accuracy: 516 0.36486486486486486
Accuracy: 517 0.36486486486486486
Accuracy: 518 0.36486486486486486
Accuracy: 519 0.36486486486486486
Accuracy: 520 0.36486486486486486
Accuracy: 521 0.36486486486486486
Accuracy: 522 0.36486486486486486
Accuracy: 523 0.36486486486486486
Accuracy: 524 0.36486486486486486
Accuracy: 525 0.36486486486486486
Accuracy: 526 0.36486486486486486
Accuracy: 527 0.36486486486486486
Accuracy: 528 0.36486486486486486
Accuracy: 529 0.36486486486486486
Accuracy: 530 0.36486486486486486
Accuracy: 531 0.36486486486486486
Accuracy: 532 0.36486486486486486
Accuracy: 533 0.36486486486486486
Accuracy: 534 0.36486486486486486
Accuracy: 535 0.36486486486486486
Accuracy: 536 0.36486486486486486
Accuracy: 537 0.36486486486486486
Accuracy: 538 0.36486486486486486
Accuracy: 539 0.36486486486486486
Accuracy: 540 0.36486486486486486
Accuracy: 541 0.36486486486486486
Accuracy: 542 0.36486486486486486
Accuracy: 543 0.36486486486486486
Accuracy: 544 0.36486486486486486
Accuracy: 545 0.36486486486486486
Accuracy: 546 0.36486486486486486
Accuracy: 547 0.36486486486486486
Accuracy: 548 0.36486486486486486
Accuracy: 549 0.36486486486486486
Accuracy: 550 0.36486486486486486
Accuracy: 551 0.36486486486486486
Accuracy: 552 0.36486486486486486
Accuracy: 553 0.36486486486486486
Accuracy: 554 0.36486486486486486
Accuracy: 555 0.36486486486486486
Accuracy: 556 0.36486486486486486
Accuracy: 557 0.36486486486486486
Accuracy: 558 0.36486486486486486
Accuracy: 559 0.36486486486486486
Accuracy: 560 0.36486486486486486
Accuracy: 561 0.36486486486486486
Accuracy: 562 0.36486486486486486
Accuracy: 563 0.36486486486486486
Accuracy: 564 0.36486486486486486
Accuracy: 565 0.36486486486486486
Accuracy: 566 0.36486486486486486
Accuracy: 567 0.36486486486486486
Accuracy: 568 0.36486486486486486
Accuracy: 569 0.36486486486486486
Accuracy: 570 0.36486486486486486
Accuracy: 571 0.36486486486486486
Accuracy: 572 0.36486486486486486
Accuracy: 573 0.36486486486486486
Accuracy: 574 0.36486486486486486
Accuracy: 575 0.36486486486486486
Accuracy: 576 0.36486486486486486
Accuracy: 577 0.36486486486486486
Accuracy: 578 0.36486486486486486
Accuracy: 579 0.36486486486486486
Accuracy: 580 0.36486486486486486
Accuracy: 581 0.36486486486486486
Accuracy: 582 0.36486486486486486
Accuracy: 583 0.36486486486486486
Accuracy: 584 0.36486486486486486
Accuracy: 585 0.36486486486486486
Accuracy: 586 0.36486486486486486
Accuracy: 587 0.36486486486486486
Accuracy: 588 0.36486486486486486
Accuracy: 589 0.36486486486486486
Accuracy: 590 0.36486486486486486
Accuracy: 591 0.36486486486486486
max 123
max_val 0.3783783783783784

In [70]:
Acc

[0.27702702702702703,
 0.25675675675675674,
 0.2635135135135135,
 0.31756756756756754,
 0.33783783783783783,
 0.2972972972972973,
 0.24324324324324326,
 0.28378378378378377,
 0.2635135135135135,
 0.25,
 0.28378378378378377,
 0.28378378378378377,
 0.32432432432432434,
 0.2905405405405405,
 0.2972972972972973,
 0.2905405405405405,
 0.3108108108108108,
 0.27702702702702703,
 0.23648648648648649,
 0.2905405405405405,
 0.30405405405405406,
 0.3310810810810811,
 0.3108108108108108,
 0.3310810810810811,
 0.28378378378378377,
 0.35135135135135137,
 0.30405405405405406,
 0.3108108108108108,
 0.2972972972972973,
 0.30405405405405406,
 0.3310810810810811,
 0.2905405405405405,
 0.2972972972972973,
 0.2972972972972973,
 0.3108108108108108,
 0.2905405405405405,
 0.28378378378378377,
 0.2972972972972973,
 0.27702702702702703,
 0.32432432432432434,
 0.2702702702702703,
 0.2702702702702703,
 0.27702702702702703,
 0.27702702702702703,
 0.25675675675675674,
 0.28378378378378377,
 0.2905405405405405,
 0.27702702702702703,
 0.25,
 0.27702702702702703,
 0.2702702702702703,
 0.27702702702702703,
 0.2972972972972973,
 0.2905405405405405,
 0.3108108108108108,
 0.2905405405405405,
 0.31756756756756754,
 0.3108108108108108,
 0.31756756756756754,
 0.33783783783783783,
 0.32432432432432434,
 0.32432432432432434,
 0.33783783783783783,
 0.32432432432432434,
 0.32432432432432434,
 0.3310810810810811,
 0.3310810810810811,
 0.3310810810810811,
 0.33783783783783783,
 0.3310810810810811,
 0.3310810810810811,
 0.3310810810810811,
 0.33783783783783783,
 0.3310810810810811,
 0.33783783783783783,
 0.32432432432432434,
 0.32432432432432434,
 0.33783783783783783,
 0.3310810810810811,
 0.3310810810810811,
 0.3310810810810811,
 0.34459459459459457,
 0.34459459459459457,
 0.34459459459459457,
 0.34459459459459457,
 0.3310810810810811,
 0.32432432432432434,
 0.33783783783783783,
 0.31756756756756754,
 0.33783783783783783,
 0.33783783783783783,
 0.3310810810810811,
 0.33783783783783783,
 0.33783783783783783,
 0.33783783783783783,
 0.32432432432432434,
 0.33783783783783783,
 0.31756756756756754,
 0.3108108108108108,
 0.3108108108108108,
 0.32432432432432434,
 0.31756756756756754,
 0.3108108108108108,
 0.32432432432432434,
 0.31756756756756754,
 0.3310810810810811,
 0.34459459459459457,
 0.33783783783783783,
 0.35135135135135137,
 0.35135135135135137,
 0.3581081081081081,
 0.3581081081081081,
 0.35135135135135137,
 0.34459459459459457,
 0.35135135135135137,
 0.3581081081081081,
 0.3581081081081081,
 0.36486486486486486,
 0.36486486486486486,
 0.3581081081081081,
 0.36486486486486486,
 0.3581081081081081,
 0.36486486486486486,
 0.3783783783783784,
 0.36486486486486486,
 0.36486486486486486,
 0.3716216216216216,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.3581081081081081,
 0.36486486486486486,
 0.3581081081081081,
 0.3581081081081081,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486,
 0.36486486486486486]

In [71]:
model = KNeighborsClassifier(n_neighbors=max_index+1)
model.fit(features,trainingSet['Age_Cat2'])
predicted = []
for i in range(len(testSet)):
    income = testSet.iloc[i].Income
    region = testSet.iloc[i].Region_RC
    occupation = testSet.iloc[i].Occupation_RC
    education = testSet.iloc[i].Education_RC
    gender = testSet.iloc[i].Gender_RC
    children = testSet.iloc[i].Children
    cars = testSet.iloc[i].Cars
    MS = testSet.iloc[i].Marital_Status_RC
    home = testSet.iloc[i].Home_Owner_RC
    predicted.__iadd__(model.predict([[income,region,occupation,education,gender,children,cars,MS,home]])) # 0:Europe, 1:NA,2:Pacific
print("Accuracy:",metrics.accuracy_score(testSet.Age_Cat2, predicted))

Accuracy: 0.3783783783783784

we've jumped to ~35%. let's try 1 more "new category" cycle

In [72]:
set_age_notnull['Age_Cat3']=set_age_notnull['Age'].astype(int)

In [73]:
set_age_notnull['Age_Cat3'] = set_age_notnull['Age_Cat3'].replace([25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44], '25-44')
set_age_notnull['Age_Cat3'] = set_age_notnull['Age_Cat3'].replace([45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64], '45-64')
set_age_notnull['Age_Cat3'] = set_age_notnull['Age_Cat3'].replace([65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84], '65-84')
set_age_notnull['Age_Cat3'] = set_age_notnull['Age_Cat3'].replace([85,86,87,88,89], '85-89')

set_age_notnull['Age_Cat3'] = set_age_notnull['Age_Cat3'].map( {'25-44': 44, '45-64': 64, '65-84': 84,'85-89':89} ).astype(int)

In [74]:
from sklearn.model_selection import train_test_split
trainingSet, testSet = train_test_split(set_age_notnull, test_size=0.2)
print('trainingSet',len(trainingSet),'testSet',len(testSet))

trainingSet 591 testSet 148

In [ ]:
Acc = []
for x in range(len(trainingSet)):
    model = KNeighborsClassifier(n_neighbors=x+1)
    model.fit(features,trainingSet['Age_Cat3'])
    
    predicted = []
    for i in range(len(testSet)):
        income = testSet.iloc[i].Income
        region = testSet.iloc[i].Region_RC
        occupation = testSet.iloc[i].Occupation_RC
        education = testSet.iloc[i].Education_RC
        gender = testSet.iloc[i].Gender_RC
        children = testSet.iloc[i].Children
        cars = testSet.iloc[i].Cars
        MS = testSet.iloc[i].Marital_Status_RC
        home = testSet.iloc[i].Home_Owner_RC
        predicted.__iadd__(model.predict([[income,region,occupation,education,gender,children,cars,MS,home]])) # 0:Europe, 1:NA,2:Pacific
    print("Accuracy:",x+1,metrics.accuracy_score(testSet.Age_Cat3, predicted))
    Acc.append(metrics.accuracy_score(testSet.Age_Cat3, predicted))
max_value = max(Acc)
max_index = Acc.index(max_value)
print('max',max_index)
print('max_val',max_value)
if Acc.index(max_value) == 0: #Crossvalidation is prefered so we're excluding the 1 neighbour value if it's the highest
    Acc.remove(Acc[0])
    max_value = max(Acc)
    max_index = Acc.index(max_value)
    print('max',max_index)
    print('max_val',max_value)

Accuracy: 1 0.5202702702702703
Accuracy: 2 0.5945945945945946
Accuracy: 3 0.5540540540540541
Accuracy: 4 0.5540540540540541
Accuracy: 5 0.5405405405405406
Accuracy: 6 0.527027027027027

In [ ]:
model = KNeighborsClassifier(n_neighbors=max_index+1)
model.fit(features,trainingSet['Age_Cat3'])
predicted = []
for i in range(len(testSet)):
    income = testSet.iloc[i].Income
    region = testSet.iloc[i].Region_RC
    occupation = testSet.iloc[i].Occupation_RC
    education = testSet.iloc[i].Education_RC
    gender = testSet.iloc[i].Gender_RC
    children = testSet.iloc[i].Children
    cars = testSet.iloc[i].Cars
    MS = testSet.iloc[i].Marital_Status_RC
    home = testSet.iloc[i].Home_Owner_RC
    predicted.__iadd__(model.predict([[income,region,occupation,education,gender,children,cars,MS,home]])) # 0:Europe, 1:NA,2:Pacific
print("Accuracy:",metrics.accuracy_score(testSet.Age_Cat3, predicted))

so we went from 12 to 14 to 35 to 54 , all the while losing categories.
anything <50% is useless by default but I want to refrain from losing any more categories.

In [ ]:
model = KNeighborsClassifier(n_neighbors=max_index+1)
model.fit(features,trainingSet['Age_Cat3'])
predicted = []
for i in range(len(testSet)):
    income = testSet.iloc[i].Income
    region = testSet.iloc[i].Region_RC
    occupation = testSet.iloc[i].Occupation_RC
    education = testSet.iloc[i].Education_RC
    gender = testSet.iloc[i].Gender_RC
    children = testSet.iloc[i].Children
    cars = testSet.iloc[i].Cars
    MS = testSet.iloc[i].Marital_Status_RC
    home = testSet.iloc[i].Home_Owner_RC
    predicted.__iadd__(model.predict([[income,region,occupation,education,gender,children,cars,MS,home]])) # 0:Europe, 1:NA,2:Pacific
    print('pred loc',predicted[i])
    print("predicted",predicted)
print("Accuracy:",metrics.accuracy_score(testSet.Age_Cat3, predicted))

    #set_region_null.at.index[i],'Region_RC' = predicted[i]

for i in range(len(predicted)):
    print("i",i)
    complete_RC.at[complete_RC[complete_RC.Age.isna()].index[0],'Age']= predicted[i] # 0:Europe, 1:NA,2:Pacific
    #bikes.at[bikes[bikes['Region_RC'] == 99].index[0],'Region_RC'] = mode_region

In [ ]:
#after
complete_RC.Age.unique()

# Income
Split the null and not null values

variables (Children,Cars,Region,Age,Marital_Status_RC,Gender_RC,Education_RC,Occupation_RC,Home_Owner_RC,)

In [ ]:
complete_RC[complete_RC.Income.isna()]

In [ ]:
complete_RC_isnull = complete_RC[complete_RC['Purchased Bike'].isnull()]
complete_RC_notnull = complete_RC[complete_RC['Purchased Bike'].notnull()]
set_income_notnull = complete_RC_notnull[complete_RC_notnull['Income'].notnull()]
set_income_null = complete_RC_notnull[complete_RC_notnull['Income'].isnull()]
print(len(set_income_notnull),len(set_income_null))

In [ ]:
set_age_notnull['Income'].unique()

In [ ]:
trainingSet, testSet = train_test_split(set_age_notnull, test_size=0.2)
print('trainingSet',len(trainingSet),'testSet',len(testSet))

In [ ]:
features=list(zip(trainingSet['Age'],trainingSet['Occupation_RC'],trainingSet['Region_RC'],trainingSet['Education_RC'],trainingSet['Gender_RC'],trainingSet['Children'],trainingSet['Cars'],trainingSet['Marital_Status_RC'],trainingSet['Home_Owner_RC']))

In [ ]:
complete_RC_notnull['Region'].unique()

In [ ]:
complete_RC[complete_RC['Region']=='Unknown']